---
# Main stylesheet
---
/* ==========================================================================
   SASS partials import
   ========================================================================== */
@import 'vars';
@import 'normalize';
@import 'bigfoot';

/* ==========================================================================
   @font-face declarations
   ========================================================================== */

 @font-face {
   /* Infini, Sandrine Nugue / CNAP */
   font-family: 'Infini';
   src: url('../fonts/infini-romain.eot'); /* IE9 Compat Modes */
   src: url('../fonts/infini-romain.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/infini-romain.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/infini-romain.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/infini-romain.svg#svgInfini') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }
 @font-face {
   /* Infini, Sandrine Nugue / CNAP */
   font-family: 'Infini';
   src: url('../fonts/infini-gras.eot'); /* IE9 Compat Modes */
   src: url('../fonts/infini-gras.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/infini-gras.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/infini-gras.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/infini-gras.svg#svgInfiniGras') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }

/* ==========================================================================
  Base styles: opinionated defaults
  ========================================================================== */

html {
    color: $text-dark;
    font-size: 1.125em;
    @include smallbp {
      font-size: 1.25em;
    }
    @include largebp {
      font-size: 1.375em;
    }
    line-height: 1.6;
    font-family: $body-font;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $link-hover;
    text-shadow: none;
}

::selection {
    background: $link-hover;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $light-outline;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Basic Custom Styling
   ========================================================================== */
body {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings:"liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
  background-color: $bg-light;
}
h2 {
  font-family: $display-font;
  font-size: 1.5em;
  margin: 1.066666666em 0 0;
  line-height: 1.066666666;
}
h3 {
  font-family: $display-font;
  font-weight: 400;
  font-size: 1.3333333333em;
  margin: 3.6em 0 1.2em 0;
  line-height: 1.2;
}
h4 {
  font-family: $display-font;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  margin-bottom: 0;
  font-size: 1.090909090909em;
  line-height: 1.4666666666;
  margin-top: 2.2em;
}
p {
  text-align: justify;
  margin:0 0 1.6em;
}
blockquote {
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.7777777777;
  margin: 0 10% 1.77777777em;
  @include smallbp {
    margin: 0 1.77777777em 1.77777777em;
  }
}
a {
  color: $text-dark;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
}
ul,
ol,
dl {
  padding-left: 1.2em;
  @include smallbp {
    padding-left: 0;
  }
}
pre {
  background-color: $bg-light;
  padding: 0.6em;
  margin-left: -0.6em;
  border-radius: 1em;
  margin-right: -0.6em;
  box-shadow: inset 0px 0px 15px -5px;
}
code, kbd, pre, samp {
  font-size: 0.9em;
  line-height: 1.7777777;
  text-align: left;
}
figure {
  margin: 1.6em 0;
}
figcaption {
  font-style: italic;
  color: $text-light;
  margin: 0.8em 0;
}
/* ==========================================================================
   Embed Styles
   ========================================================================== */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-bottom:1.5em;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ==========================================================================
   Basic Class Selectors
   ========================================================================== */
.hyphenate {
  @include hyphens(auto);
}
.donthyphenate {
  text-align: left;
  blockquote, p {
    text-align: left;
  }
}
.footnotes {
  border-top: 1px solid $light-outline;
  border-bottom: 1px solid $light-outline;
  ol {
    &:before {
      content: 'Notes';
      font-weight: 400;
      font-size: 1.3333333333em;
      margin: 2.4em 0 1.2em 0;
      line-height: 1.2;
      display: block;
    }
    li {
      margin-bottom: 0.6em;
      font-size: 0.9em;
      line-height: 1.777777777;
      p {
        margin: 0;
      }
    }
  }
}
.container {
  a {
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba($link-underline,1), rgba($link-underline,1));
    background-size: .05em 2px, .05em 2px, 2px 2px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 95%, 100% 95%, 0% 95%;
    text-shadow:
    0 -.03em $bg-light,0 0 $bg-light,0 .03em $bg-light,0 .06em $bg-light,0 .08em $bg-light,
    .03em -.03em $bg-light,.03em 0 $bg-light,.03em .03em $bg-light,.03em .06em $bg-light,.03em .08em $bg-light,
    -.03em -.03em $bg-light,-.03em 0 $bg-light,-.03em .03em $bg-light,-.03em .06em $bg-light,-.03em .08em $bg-light,
    .06em -.03em $bg-light,.06em 0 $bg-light,.06em .03em $bg-light,.06em .06em $bg-light,.06em .08em $bg-light,
    -.06em -.03em $bg-light,-.06em 0 $bg-light,-.06em .03em $bg-light,-.06em .06em $bg-light,-.06em .08em $bg-light,
    .08em -.03em $bg-light,.08em 0 $bg-light,.08em 0.03em $bg-light,.08em 0.06em $bg-light,.08em 0.08em $bg-light,
    -.08em -.03em $bg-light,-.08em 0 $bg-light,-.08em 0.03em $bg-light,-.08em 0.06em $bg-light,-.08em 0.08em $bg-light;
    &:hover {
      color: $text-dark;
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient($text-dark, $text-dark);
    }
  }
  h3,
  h4 {
    a {
      background-position: 0% 85%, 100% 85%, 0% 85%;
    }
  }
}
.datalist {
    list-style: none;
    padding-left: 0;
}
.bibliography {
  list-style: none;
  text-indent: -3.2em;
  padding-left: 3.2em;
  li {
    margin-bottom: 0.6em;
  }
}
.site-footer {
  border-top: 4px double rgba($text-dark, 0.2);
  @include xlargebp {
    border-top: none;
  }
  dl {
    color: rgba($text-dark, 0.55);
    padding: 1.6em 0;
    padding-left:0;
    margin: 0;
    dt,
    dd {
      display: inline-block;
      margin: 0 0.8em 0 0;
    }
    dt {
      margin: 0 0.94117647em 0 0;
      font-size: 0.85em;
      line-height: 1.88235294em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-family: $display-font;
    }
    dd:last-of-type {
      margin: 0;
    }
  }
}
/* ==========================================================================
   Data Chart Styles
   ========================================================================== */
@import "data";
/* ==========================================================================
   Menu Styling
   ========================================================================== */
.site-header {
  transition: background-color 0.2s ease;
  @include xlargebp {
    color: $text-dark;
    background: transparent;
    opacity: 0.45;
    transition: opacity 2s ease-out 0.5s;
    &:hover {
      opacity: 1;
      transition: opacity 0.15s ease-in;
    }
  }
  .menu-button {
    position: absolute; right: 0; top: 0;
    width: 25%; max-width: 7em; min-width: 4em;
    height: 4em;
    border: none;
    font-size: 0.8em;
    line-height: 4;
    background-color: $menu-button;
    color: $menu-text;
    font-family: $display-font;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @include xlargebp {
      display: none;
    }
  } // .menu-button
  &.active {
    background-color: rgba($text-dark, 0.01);
    @include xlargebp {
      background-color: transparent;
    }
    .menu-button {
      background-color: rgba($menu-button, 0.5);
    }
  } // &.active .menu-button
  .site-title {
    display: block;
    height: 2.13333333em;
    width: 75%;
    margin: 0;
		padding: 0 5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
		font-size: 1.5em;
		line-height: 2.133333333;
		font-family: $display-font;
    text-transform: uppercase;
    font-weight:300;
    letter-spacing: -0.05em;
    word-spacing: 0.15em;
    @include xlargebp {
      display: block;
      padding: 0;
      width: 5.2em;
      height: 2.133333333em;
    }
    a {
      text-decoration: none;
      @include xlargebp {
        text-transform: none;
        line-height: 1;
        padding: 0.3em 0.3em 0.15em;
        border: 0;
        border-radius: 100%;
        background: $bg-dark;
        color: $bg-light;
        display: inline-block;
        position: relative;
        height: 1.85em;
        width: 2em;
        -webkit-transition-property: background, height, width, border-radius;
                transition-property: background, height, width, border-radius;
        -webkit-transition-duration: 0.2s,       0.1s,   0.1s,  0.15s;
                transition-duration: 0.2s,       0.1s,   0.1s,  0.15s;
        -webkit-transition-delay:    0.1s,       0s,     0s,    0s;
                transition-delay:    0.1s,       0s,     0s,    0s;
        -webkit-transition-timing-function: ease-out, ease-out, ease-out, ease-in;
                transition-timing-function: ease-out, ease-out, ease-out, ease-in;
        .fname, .lname {
          display: inline-block;
          position: absolute;
          white-space: nowrap;
          overflow: hidden;
        }
        .fname {
          width: 0.75em;
          top: 0.25em;
          left: 0.37em;
          -webkit-transition-property: width,   top,      left,    color;
                  transition-property: width,   top,      left,    color;
          -webkit-transition-duration: 0.15s,   0.1s,     0.3s,    0.4s;
                  transition-duration: 0.15s,   0.1s,     0.3s,    0.4s;
          -webkit-transition-delay:    0.1s,    0.1s,     0s,      0s;
                  transition-delay:    0.1s,    0.1s,     0s,      0s;
          -webkit-transition-timing-function: ease-in, ease-out, ease-out, ease-out;
          transition-timing-function: ease-in, ease-out, ease-out, ease-out;
        }
        .lname {
          width: 0.5em;
          top: 0.65em;
          left: 0.95em;
          -webkit-transition-property: width,   top,      left,    color;
                  transition-property: width,   top,      left,    color;
          -webkit-transition-duration: 0.15s,   0.3s,     0.2s,    0.4s;
                  transition-duration: 0.15s,   0.3s,     0.2s,    0.4s;
          -webkit-transition-delay:    0.1s,    0.2s,     0.1s,    0s;
                  transition-delay:    0.1s,    0.2s,     0.1s,    0s;
          -webkit-transition-timing-function: ease-in, cubic-bezier(0.68, -0.55, 0.265, 1.55), ease-in, ease-out;
                  transition-timing-function: ease-in, cubic-bezier(0.68, -0.55, 0.265, 1.55), ease-in, ease-out;
        }
        &:hover {
          width: 6.2em;
          height: 2.25em;
          border-radius: 0em;
          background: rgba($bg-light,0);
          -webkit-transition-property: background, height, width, border-radius;
                  transition-property: background, height, width, border-radius;
          -webkit-transition-duration: 0.2s,       0.1s,   0.1s,  0.15s;
                  transition-duration: 0.2s,       0.1s,   0.1s,  0.15s;
          -webkit-transition-delay:    0s,         0.2s,   0.2s,  0.2s;
                  transition-delay:    0s,         0.2s,   0.2s,  0.2s;
          -webkit-transition-timing-function: ease-in, ease-in, ease-in, ease-out;
                  transition-timing-function: ease-in, ease-in, ease-in, ease-out;
          .fname, .lname {
            color: $text-dark;
          }
          .fname {
            width: 2.5em;
            left: 0.715em;
            -webkit-transition-property: width,   top,      left,    color;
                    transition-property: width,   top,      left,    color;
            -webkit-transition-duration: 0.15s,   0.1s,     0.3s,    0.5s;
                    transition-duration: 0.15s,   0.1s,     0.3s,    0.5s;
            -webkit-transition-delay:    0.1s,      0s,       0.1s,      0s;
                    transition-delay:    0.1s,      0s,       0.1s,      0s;
            -webkit-transition-timing-function: ease-in, ease-out, cubic-bezier(0.68, -0.55, 0.265, 1.55), ease-out;
                    transition-timing-function: ease-in, ease-out, cubic-bezier(0.68, -0.55, 0.265, 1.55), ease-out;
          }
          .lname {
            width: 5.5em;
            left: 0;
            top: 1.02em;
            -webkit-transition-property: width,   top,      left,    color;
                    transition-property: width,   top,      left,    color;
            -webkit-transition-duration: 0.15s,   0.1s,     0.3s,    0.5s;
                    transition-duration: 0.15s,   0.1s,     0.3s,    0.5s;
            -webkit-transition-delay:    0.1s,      0s,       0s,      0s;
                    transition-delay:    0.1s,      0s,       0s,      0s;
            -webkit-transition-timing-function: ease-in, ease-out, ease-in, ease-out;
                    transition-timing-function: ease-in, ease-out, ease-in, ease-out;
          }
        }
      } // media-query XL
    } // a
  } // .site-title
  .menu {
    max-height: 0;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: $display-font;
    box-shadow: inset 0 0 0 0 rgba($text-dark, 0);
    -webkit-transition-property:        max-height, box-shadow;
            transition-property:        max-height, box-shadow;
    -webkit-transition-duration:        0.5s,       0.3s;
            transition-duration:        0.5s,       0.3s;
    -webkit-transition-delay:           0s,         0.2s;
            transition-delay:           0s,         0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000), cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000), cubic-bezier(0.215, 0.610, 0.355, 1.000);
    &.active {
      max-height: 15em;
      box-shadow: inset 0 -0.5em 1.111em -0.833em rgba($text-dark, 0.5);
      -webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190), cubic-bezier(0.550, 0.055, 0.675, 0.190);
              transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190), cubic-bezier(0.550, 0.055, 0.675, 0.190);
      @include xlargebp {
        box-shadow: none;
      }
    }
    @include xlargebp {
      max-height: none;
      margin-top: 1.6em;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        @include xlargebp {
        }
        a {
          -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
          box-shadow: 0 -0.5em 1.222em -0.944em rgba($text-dark, 0.5);
          text-decoration: none;
          display: block;
          padding: .5em 5%;
          @include xlargebp {
            padding: 0;
            box-shadow: none;
            -webkit-transition-timing-function: ease;
                    transition-timing-function: ease;
          }
          &:hover {
            color: $menu-text;
            background-color: $menu-highlight;
            @include xlargebp {
              color: $link-hover;
              background-color: transparent;
            }
          }
        }
      } // .menu ul li
    } // .menu ul
  } // .menu
} // .site-header

.no-js .menu {
  display: block;
}

/* ==========================================================================
   Page Structure
   ========================================================================== */
.container {
  width: 100%;
  margin: 0;
  padding-bottom: 1.6em;
  @include xlargebp {
    padding-top: 0.8em;
    border-top: 0.8em solid $text-dark;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: $bg-light;
  }
}
.container, .site-footer {
  padding-left: 5%;
  padding-right: 5%;
  @include largebp {
    margin: 0 auto;
    padding-left: calc(3.2em);
    padding-right: calc(100% - 28.8em);
  }
  @include xlargebp {
  }
}
@include xlargebp {
  body {
    background-color: rgb(247, 249, 246);
  }
  .wrapper {
    width: 75%;
    width: calc(100% - 10.8em);
    margin-left: 10.8em;
  }
}
.site-header {
  @include xlargebp {
    position: fixed;
    width: 10.8em;
    height: 100%;
    overflow-y: scroll;
    padding: 1.6em;
  }
}

/* ==========================================================================
   Social Media Icons
   ========================================================================== */
.icon {
  display: inline-block;
  background-size: 117.647059%;
  background-position: center;
  width: 1.6em;
  height: 1.6em;
  text-indent: -999em;
  text-align: left;
  opacity: 0.35;
  -webkit-transition: opacity 0.15s ease-in;
          transition: opacity 0.15s ease-in;
  &:hover {
    opacity: 0.75;
  }
  &.rss-feed {
    background-size: 85%;
  }
}
$icons: github rss-feed soundcloud twitter;
$icons-url: "img/" !default;
@each $icon in $icons {
  .icon.#{$icon} {
    background-image: url("#{$icons-url}#{$icon}.svg");
  }
}
@media print {
  .icon {
    text-indent: 0;
    width: auto !important;
    height: auto !important;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * use the `javascript:` pseudo protocol, or would
     * obstruct the display of chart data
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after,
    .sparkchart a[href]:after {
        content: "";
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    blockquote {
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3,
    h4 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }

    /*
    * Print better charts
    */
    .sparkchart li a .percentage {
      border-top-width: 5px;
    }
    .chartlist li .percentage {
      border-right-width: 5px;
    }
}
