---
# Main stylesheet
---
/*

########     ###    ########  ######## ####    ###    ##        ######
##     ##   ## ##   ##     ##    ##     ##    ## ##   ##       ##    ##
##     ##  ##   ##  ##     ##    ##     ##   ##   ##  ##       ##
########  ##     ## ########     ##     ##  ##     ## ##        ######
##        ######### ##   ##      ##     ##  ######### ##             ##
##        ##     ## ##    ##     ##     ##  ##     ## ##       ##    ##
##        ##     ## ##     ##    ##    #### ##     ## ########  ######

Import SASS partials */

@import 'vars';
@import 'normalize';
@import 'bigfoot';

/*

########  #######  ##    ## ########         ########    ###     ######  ########
##       ##     ## ###   ##    ##            ##         ## ##   ##    ## ##
##       ##     ## ####  ##    ##            ##        ##   ##  ##       ##
######   ##     ## ## ## ##    ##    ####### ######   ##     ## ##       ######
##       ##     ## ##  ####    ##            ##       ######### ##       ##
##       ##     ## ##   ###    ##            ##       ##     ## ##    ## ##
##        #######  ##    ##    ##            ##       ##     ##  ######  ########

@font-face declarations */

 @font-face {
   /* Infini, Sandrine Nugue / CNAP */
   font-family: 'Infini';
   src: url('fonts/infini-romain.eot'); /* IE9 Compat Modes */
   src: url('fonts/infini-romain.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/infini-romain.woff2') format('woff2'),
        url('fonts/infini-romain.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/infini-romain.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/infini-romain.svg#svgInfini') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }
 @font-face {
   /* Infini, Sandrine Nugue / CNAP */
   font-family: 'Infini';
   src: url('fonts/infini-gras.eot'); /* IE9 Compat Modes */
   src: url('fonts/infini-gras.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/infini-gras.woff2') format('woff2'),
        url('fonts/infini-gras.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/infini-gras.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/infini-gras.svg#svgInfiniGras') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }

/*

##     ## ######## ########  ########     ########     ###     ######  ########
##     ## ##       ##     ## ##     ##    ##     ##   ## ##   ##    ## ##
##     ## ##       ##     ## ##     ##    ##     ##  ##   ##  ##       ##
######### #######  ########  ########     ########  ##     ##  ######  ######
##     ##       ## ##     ## ##           ##     ## #########       ## ##
##     ## ##    ## ##     ## ##           ##     ## ##     ## ##    ## ##
##     ##  ######  ########  ##           ########  ##     ##  ######  ########

Base styles: opinionated defaults */

html {
    color: $text-dark;
    font-size: $fs-base;
    @include smallbp {
      font-size: $fs-sbp;
    }
    @include mediumbp {
      font-size: $fs-mbp;
    }
    line-height: $lh-base;
    font-family: $body-font;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $link-hover;
    color: $bg-light;
    text-shadow: none;
}

::selection {
    background: $link-hover;
    color: $bg-light;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 0.0555555555555em;
    border: 0;
    border-top: 0.0555555555555em solid $light-outline;
    margin: ($lh-p - 0.0555555555555em) 0 $lh-p;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Browser Upgrade Prompt
 */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*

##     ## ##    ##    ########     ###     ######  ########
###   ###  ##  ##     ##     ##   ## ##   ##    ## ##
#### ####   ####      ##     ##  ##   ##  ##       ##
## ### ##    ##       ########  ##     ##  ######  ######
##     ##    ##       ##     ## #########       ## ##
##     ##    ##       ##     ## ##     ## ##    ## ##
##     ##    ##       ########  ##     ##  ######  ########

Basic Custom Styling */

body {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings:"liga" 1;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  background-color: $bg-light;
  @include xlargebp {
    &::-webkit-scrollbar-track {
      background-color: $bg-light;
    }
    &::-webkit-scrollbar {
      width: 14px;
      background-color: $bg-light;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $text-dark;
    }
  }
}
h2 {
  font-family: $display-font;
  font-size: $fs-h2;
  margin: 0;
  @include largebp {
    margin: $lh-h2 0 0;
  }
  line-height: $lh-h2 * 1.5;
  em {
    font-style: normal;
  }
}
h3 {
  font-family: $display-font;
  font-weight: 400;
  font-size: $fs-h3;
  margin: ($lh-h3 * 2) 0 $lh-h3 0;
  line-height: $lh-h3;
  em {
    font-style: normal;
  }
}
h4 {
  font-family: $display-font;
  font-weight: 700;
  font-style: normal;
  font-size: $fs-h4;
  line-height: $lh-h4;
  margin: $lh-h4 0 0;
  em {
    font-style: normal;
  }
}
h5 {
  font-family: $display-font;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: $lh-small 0 0;
  font-size: $fs-small;
  line-height: $lh-small;
  em {
    font-style: normal;
  }
}
p {
  margin:0 0 $lh-base;
}
blockquote {
  font-size: 0.9em;
  line-height: 1.7777777777;
  margin: 0 10% 1.77777777em;
  @include smallbp {
    margin: 0 1.77777777em 1.77777777em;
  }
}
a {
  color: $text-dark;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
  abbr {
    border-bottom: none;
    &[title] {
      border-bottom: none;
    }
  }
}
ul,
ol,
dl {
  margin: 0 0 $lh-p;
  padding-left: 1.2em;
  @include smallbp {
    padding-left: 0;
  }
  &[type=I] {
    padding-left: 2em
  }
}
pre {
  background-color: $bg-light;
  padding: 0.6em;
  margin-left: -0.6em;
  border-radius: 1em;
  margin-right: -0.6em;
  box-shadow: inset 0px 0px 15px -5px;
}
code, kbd, pre, samp {
  font-size: 0.9em;
  line-height: 1.7777777;
  text-align: left;
}
figure {
  margin: $lh-base 0;
}
figcaption {
  font-style: italic;
  color: $text-light;
  margin: ($lh-base / 2) 0;
  em {
    font-style: normal;
  }
}
.secondary {
  figcaption {
    color: $bg-light;
    @include xlargebp {
      color: $text-light;
    }
  }
}
table {
  margin: $lh-p 0;
  th { text-align: left; }
  td { padding-right: $lh-p; }
}

/*

######## ##     ## ########  ######## ########   ######
##       ###   ### ##     ## ##       ##     ## ##    ##
##       #### #### ##     ## ##       ##     ## ##
######   ## ### ## ########  ######   ##     ##  ######
##       ##     ## ##     ## ##       ##     ##       ##
##       ##     ## ##     ## ##       ##     ## ##    ##
######## ##     ## ########  ######## ########   ######

Embed Styles */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: $lh-base;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*

#### ##     ##    ###     ######   ########  ######
 ##  ###   ###   ## ##   ##    ##  ##       ##    ##
 ##  #### ####  ##   ##  ##        ##       ##
 ##  ## ### ## ##     ## ##   #### ######    ######
 ##  ##     ## ######### ##    ##  ##             ##
 ##  ##     ## ##     ## ##    ##  ##       ##    ##
#### ##     ## ##     ##  ######   ########  ######

Classes for easy image alignment */
@include tinybp {
  img {
    &.alignright {
      float:right;
      clear:right;
      margin:0 0 $lh-p $lh-p;
      max-width: 8.333333333em;
      @include mediumbp {
        max-width: 9em;
      }
    }
    &.alignleft {
      float:left;
      clear:left;
      margin:0 $lh-p $lh-p 0;
      max-width: 8.333333333em;
      @include mediumbp {
        max-width: 9em;
      }
    }
    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  a img {
    &.alignright {
      float:right;
      clear: right;
      margin:0 0 $lh-p $lh-p;
      max-width: 8.333333333em;
      @include mediumbp {
        max-width: 9em;
      }
    }
    &.alignleft {
      float:left;
      clear: left;
      margin:0 $lh-p $lh-p 0;
      max-width: 8.333333333em;
      @include mediumbp {
        max-width: 9em;
      }
    }
    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.picture {
  margin: 0 0 $lh-p;
  &.sidebar {
    margin-top: $lh-p * 2;
  }
}
p .picture,
figure .picture {
  margin: 0;
}

.single-post img.wide, .text img.wide {
  @include mediumbp {
    max-width: 123%;
  }
  @include xlargebp {
    max-width: 150%;
  }
}

.single-post-header {
  margin-bottom: $lh-p;
}

.multiply {
  mix-blend-mode: multiply;
}
.secondary {
  .multiply {
    mix-blend-mode: normal;
    @include xlargebp {
      mix-blend-mode: multiply;
    }
  }
}
a .multiply {
  &.default,
  &.aligncenter {
    mix-blend-mode: normal;
  }
}

/*

     ######  ######## ##       ########  ######  ########  #######  ########   ######
    ##    ## ##       ##       ##       ##    ##    ##    ##     ## ##     ## ##    ##
    ##       ##       ##       ##       ##          ##    ##     ## ##     ## ##
     ######  ######   ##       ######   ##          ##    ##     ## ########   ######
          ## ##       ##       ##       ##          ##    ##     ## ##   ##         ##
### ##    ## ##       ##       ##       ##    ##    ##    ##     ## ##    ##  ##    ##
###  ######  ######## ######## ########  ######     ##     #######  ##     ##  ######

Basic Class Selectors */

.hyphenate {
  @include hyphens(auto);
  blockquote, p {
    text-align: justify;
    &.alignright {
      text-align: right;
    }
    &.aligncenter {
      text-align: center;
    }
    &.alignleft {
      text-align: left;
    }
  }
}
.donthyphenate {
  text-align: left;
  blockquote, p {
    text-align: left;
  }
}
.alignright {
  text-align: right;
}
.aligncenter {
  text-align: center;
}
.small {
  font-size: $fs-small;
  line-height: $lh-small;
  margin: 0 0 $lh-small;
}
.footnotes {
  border-top: 1px solid $light-outline;
  border-bottom: 1px solid $light-outline;
  ol {
    &:before {
      content: 'Notes';
      font-weight: 400;
      font-size: $fs-h3;
      margin: ($lh-h3 * 2) 0 $lh-h3 0;
      line-height: $lh-h3;
      display: block;
    }
    li {
      margin-bottom: 0.6em;
      font-size: 0.9em;
      line-height: 1.777777777;
      p {
        margin: 0;
      }
    }
  }
}
.container {
  a {
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba($link-underline,1), rgba($link-underline,1));
    background-size: .05em 2px, .05em 2px, 2px 2px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 95%, 100% 95%, 0% 95%;
    text-shadow:
    0 -.03em $bg-light,0 0 $bg-light,0 .03em $bg-light,0 .06em $bg-light,0 .08em $bg-light,
    .03em -.03em $bg-light,.03em 0 $bg-light,.03em .03em $bg-light,.03em .06em $bg-light,.03em .08em $bg-light,
    -.03em -.03em $bg-light,-.03em 0 $bg-light,-.03em .03em $bg-light,-.03em .06em $bg-light,-.03em .08em $bg-light,
    .06em -.03em $bg-light,.06em 0 $bg-light,.06em .03em $bg-light,.06em .06em $bg-light,.06em .08em $bg-light,
    -.06em -.03em $bg-light,-.06em 0 $bg-light,-.06em .03em $bg-light,-.06em .06em $bg-light,-.06em .08em $bg-light,
    .08em -.03em $bg-light,.08em 0 $bg-light,.08em 0.03em $bg-light,.08em 0.06em $bg-light,.08em 0.08em $bg-light,
    -.08em -.03em $bg-light,-.08em 0 $bg-light,-.08em 0.03em $bg-light,-.08em 0.06em $bg-light,-.08em 0.08em $bg-light;
    &:hover {
      color: $text-dark;
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient($text-dark, $text-dark);
    }
    @include smallbp {
      background-position: 0% 92%, 100% 92%, 0% 92%;
    }
  }
  h2 {
    a {
      background-position: 0% 83%, 100% 83%, 0% 83%;
    }
  }
  h4 {
    a {
      background-position: 0% 85%, 100% 85%, 0% 85%;
    }
  }
  .ui {
    font-family: $display-font;
    a {
      background-position: 0 98%,100% 98%,0 98%;
      @include smallbp {
        background-position: 0 95%,100% 95%,0 95%;
      }
    }
  }
  a.button {
    display: block;
    width: 100%;
    margin-top: $lh-p / 2;
    line-height: $lh-p * 2;
    padding: 0 ($lh-p / 2);
    text-shadow: none;
    background-image: none;
    color: $bg-light;
    background-color: $text-dark;
    font-family: $display-font;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: background-color 0.15s ease-in, color 0.15s ease-in;
            transition: background-color 0.15s ease-in, color 0.15s ease-in;
    &:hover {
      color: $bg-light;
      background-image: none;
      background-color: $link-hover;
    }
  }
  a.half-button {
    @extend .button;
    @include tinybp {
      width: 50%;
      float: left;
    }
  }
  @each $size, $colour in $sizes {
    a.#{$size}-half-button {
      @extend .half-button;
      color: $text-dark;
      background-color: $colour;
    }
    a.#{$size}-button {
      @extend .button;
      color: $text-dark;
      background-color: $colour;
    }
    a.#{$size} {
      @extend a;
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient($colour, $colour);
      &:hover {
        color: $text-dark;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient($text-dark, $text-dark);
      }
    }
  }
}
.datalist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.indexlist {
  .hentry {
    .published {
      width: $fs-base * 2.666666666;
      display: inline-block;
      text-align: right;
      padding-right: $lh-base / 2;
      font-family: $display-font;
    }
    .entry-title {
      width: calc(100% - #{$fs-base * 3});
      display: inline-block;
      vertical-align: top;
      padding-left: $lh-base / 2;
      border-left: 2px solid $light-outline;
      &:hover {
        border-left-color: $text-dark;
      }
    }
  }
}
.bibliography {
  list-style: none;
  text-indent: $lh-base * -1;
  padding-left: $lh-base * 1;
  @include mediumbp {
    text-indent: $lh-base * -2;
    padding-left: $lh-base * 2;
  }
  li {
    margin-bottom: $lh-base / 2;
  }
}
.home {
  .hentry {
    margin-bottom: $lh-base * 3;
    @include mediumbp {
      margin-bottom: $lh-base * 4;
    }
  }
}
.home.page, .text.archive {
  .entry-title {
    margin-bottom: 0;
  }
  .entry-meta {
    font-family: $display-font;
    font-size: $fs-meta;
    line-height: $lh-meta;
    margin-bottom: $lh-meta;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $text-light;
    @include liningnums;
  }
}
.text.archive {
  .entry-title {
    font-size: $fs-h2;
    line-height: $lh-h2 * 1.5;
    margin-top: $lh-h2 * 2;
  }
  .entry-meta {
    margin: 0;
    @include mediumbp {
      padding-left: $lh-meta;
    }
  }
  .entry-summary {
    font-style: italic;
    @include mediumbp {
      padding-left: $lh-base;
    }
  }
}
.single-music,
.page {
  .entry-title {
    margin-bottom: $lh-h2;
  }
}
.text {
  .subtitle {
    margin-top: 0;
  }
  .previously-published {
    font-size: $fs-small;
    line-height: $lh-small;
    padding: $lh-small / 2 - 0.3em;
    margin-bottom: $lh-small;
    border: 0.3em solid $light-outline;
  }
}
#disqus_thread {
  margin: 0 0 ($lh-p * 2);
}
footer.entry-meta {
  padding: $lh-p / 2;
  color: $text-light;
  background-color: $bg-shade;
  box-shadow: rgba($text-dark,0.1) 0px 0px 15px inset;
  p {
    margin: 0;
    font-size: $fs-small;
    line-height: $lh-small;
    font-family: $display-font;
  }
  a {
    background-position: 0% 100%, 100% 100%, 0% 100%;
  }
}
.site-footer {
  dl {
    color: $text-light;
    padding: $lh-base 0;
    padding-left:0;
    margin: 0;
    dd {
      display: inline-block;
      margin: 0 ($lh-base / 2) 0 0;
    }
    dt {
      display: inline-block;
      margin: 0 ($lh-small / 2) 0 0;
      font-size: $fs-small;
      line-height: $lh-small;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-family: $display-font;
    }
    dd:last-of-type {
      margin: 0;
    }
  }
}
/*

 ######  ##     ##    ###    ########  ########  ######
##    ## ##     ##   ## ##   ##     ##    ##    ##    ##
##       ##     ##  ##   ##  ##     ##    ##    ##
##       ######### ##     ## ########     ##     ######
##       ##     ## ######### ##   ##      ##          ##
##    ## ##     ## ##     ## ##    ##     ##    ##    ##
 ######  ##     ## ##     ## ##     ##    ##     ######

Data Chart Styles */

@import "data";

/*

##    ##    ###    ##     ##       ##     ## ######## ##    ## ##     ##
###   ##   ## ##   ##     ##       ###   ### ##       ###   ## ##     ##
####  ##  ##   ##  ##     ##       #### #### ##       ####  ## ##     ##
## ## ## ##     ## ##     ##       ## ### ## ######   ## ## ## ##     ##
##  #### #########  ##   ##        ##     ## ##       ##  #### ##     ##
##   ### ##     ##   ## ##         ##     ## ##       ##   ### ##     ##
##    ## ##     ##    ###          ##     ## ######## ##    ##  #######

Menu Styling */

.site-header {
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings:"liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
  transition: background-color 0.2s ease;
  @include largebp {
    color: $text-dark;
    background: transparent;
    opacity: 0.45;
    transition: opacity 2s ease-out 0.5s;
    &:hover {
      opacity: 1;
      transition: opacity 0.15s ease-in;
    }
  }
  .menu-button {
    position: absolute; right: 0; top: 0;
    width: 25%; max-width: 7em; min-width: 4em;
    height: $lh-small * 2;
    border: none;
    font-size: $fs-small;
    line-height: $lh-small;
    background-color: $menu-button;
    color: $menu-text;
    font-family: $display-font;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @include largebp {
      display: none;
    }
  } // .menu-button
  &.active {
    background-color: rgba($text-dark, 0.01);
    @include largebp {
      background-color: transparent;
    }
    .menu-button {
      background-color: rgba($menu-button, 0.5);
    }
  } // &.active .menu-button
  .site-title {
    display: block;
    height: $lh-h1 * 2;
    width: 75%;
    margin: 0;
		padding: 0 5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
		font-size: $fs-h1;
		line-height: $lh-h1 * 2;
		font-family: $display-font;
    text-transform: uppercase;
    font-weight:300;
    letter-spacing: -0.05em;
    word-spacing: 0.15em;
    @include largebp {
      display: block;
      padding: 0;
      width: 5.2em;
      height: $lh-h1 * 2;
    }
    a {
      text-decoration: none;
      @include largebp {
        text-transform: none;
        line-height: 1;
        padding: 0.3em 0.3em 0.15em;
        border: 0;
        border-radius: 100%;
        background: $bg-dark;
        color: $bg-light;
        display: inline-block;
        position: relative;
        height: 1.85em;
        width: 2em;
        -webkit-transition-property: background, height, width, border-radius;
                transition-property: background, height, width, border-radius;
        -webkit-transition-duration: 0.2s,       0.1s,   0.1s,  0.15s;
                transition-duration: 0.2s,       0.1s,   0.1s,  0.15s;
        -webkit-transition-delay:    0.1s,       0s,     0s,    0s;
                transition-delay:    0.1s,       0s,     0s,    0s;
        -webkit-transition-timing-function: ease-out, ease-out, ease-out, ease-in;
                transition-timing-function: ease-out, ease-out, ease-out, ease-in;
        .fname, .lname {
          display: inline-block;
          position: absolute;
          white-space: nowrap;
          overflow: hidden;
        }
        .fname {
          width: 0.75em;
          top: 0.25em;
          left: 0.37em;
          -webkit-transition-property: width,   top,      left,    color;
                  transition-property: width,   top,      left,    color;
          -webkit-transition-duration: 0.15s,   0.1s,     0.3s,    0.4s;
                  transition-duration: 0.15s,   0.1s,     0.3s,    0.4s;
          -webkit-transition-delay:    0.1s,    0.1s,     0s,      0s;
                  transition-delay:    0.1s,    0.1s,     0s,      0s;
          -webkit-transition-timing-function: ease-in, ease-out, ease-out, ease-out;
          transition-timing-function: ease-in, ease-out, ease-out, ease-out;
        }
        .lname {
          width: 0.49em;
          top: 0.65em;
          left: 0.95em;
          -webkit-transition-property: width,   top,      left,    color;
                  transition-property: width,   top,      left,    color;
          -webkit-transition-duration: 0.15s,   0.3s,     0.2s,    0.4s;
                  transition-duration: 0.15s,   0.3s,     0.2s,    0.4s;
          -webkit-transition-delay:    0.1s,    0.2s,     0.1s,    0s;
                  transition-delay:    0.1s,    0.2s,     0.1s,    0s;
          -webkit-transition-timing-function: ease-in, cubic-bezier(0.68, -0.55, 0.265, 1.55), ease-in, ease-out;
                  transition-timing-function: ease-in, cubic-bezier(0.68, -0.55, 0.265, 1.55), ease-in, ease-out;
        }
        &:hover {
          width: 6.2em;
          height: 2.25em;
          border-radius: 0em;
          background: rgba($bg-light,0);
          -webkit-transition-property: background, height, width, border-radius;
                  transition-property: background, height, width, border-radius;
          -webkit-transition-duration: 0.2s,       0.1s,   0.1s,  0.15s;
                  transition-duration: 0.2s,       0.1s,   0.1s,  0.15s;
          -webkit-transition-delay:    0s,         0.2s,   0.2s,  0.2s;
                  transition-delay:    0s,         0.2s,   0.2s,  0.2s;
          -webkit-transition-timing-function: ease-in, ease-in, ease-in, ease-out;
                  transition-timing-function: ease-in, ease-in, ease-in, ease-out;
          .fname, .lname {
            color: $text-dark;
          }
          .fname {
            width: 2.5em;
            left: 0.715em;
            -webkit-transition-property: width,   top,      left,    color;
                    transition-property: width,   top,      left,    color;
            -webkit-transition-duration: 0.15s,   0.1s,     0.3s,    0.5s;
                    transition-duration: 0.15s,   0.1s,     0.3s,    0.5s;
            -webkit-transition-delay:    0.1s,      0s,       0.1s,      0s;
                    transition-delay:    0.1s,      0s,       0.1s,      0s;
            -webkit-transition-timing-function: ease-in, ease-out, cubic-bezier(0.68, -0.55, 0.265, 1.55), ease-out;
                    transition-timing-function: ease-in, ease-out, cubic-bezier(0.68, -0.55, 0.265, 1.55), ease-out;
          }
          .lname {
            width: 5.5em;
            left: 0;
            top: 1.02em;
            -webkit-transition-property: width,   top,      left,    color;
                    transition-property: width,   top,      left,    color;
            -webkit-transition-duration: 0.15s,   0.1s,     0.3s,    0.5s;
                    transition-duration: 0.15s,   0.1s,     0.3s,    0.5s;
            -webkit-transition-delay:    0.1s,      0s,       0s,      0s;
                    transition-delay:    0.1s,      0s,       0s,      0s;
            -webkit-transition-timing-function: ease-in, ease-out, ease-in, ease-out;
                    transition-timing-function: ease-in, ease-out, ease-in, ease-out;
          }
        }
      } // media-query XL
    } // a
  } // .site-title
  .menu {
    max-height: 0;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: $display-font;
    box-shadow: inset 0 0 0 0 rgba($text-dark, 0);
    -webkit-transition-property:        max-height, box-shadow;
            transition-property:        max-height, box-shadow;
    -webkit-transition-duration:        0.5s,       0.3s;
            transition-duration:        0.5s,       0.3s;
    -webkit-transition-delay:           0s,         0.2s;
            transition-delay:           0s,         0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000), cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000), cubic-bezier(0.215, 0.610, 0.355, 1.000);
    &.active {
      max-height: $menu-item-count * 2 * $lh-base;
      box-shadow: inset 0 -0.5em 1.111em -0.833em rgba($text-dark, 0.5);
      -webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190), cubic-bezier(0.550, 0.055, 0.675, 0.190);
              transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190), cubic-bezier(0.550, 0.055, 0.675, 0.190);
      @include largebp {
        box-shadow: none;
      }
    }
    @include largebp {
      max-height: none;
      margin-top: $lh-base;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        @include largebp {
        }
        a {
          -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
          box-shadow: 0 -0.5em 1.222em -0.944em rgba($text-dark, 0.5);
          text-decoration: none;
          display: block;
          padding: ($lh-base / 2) 5%;
          @include largebp {
            padding: 0;
            box-shadow: none;
            -webkit-transition-timing-function: ease;
                    transition-timing-function: ease;
          }
          &:hover {
            color: $menu-text;
            background-color: $menu-highlight;
            @include largebp {
              color: $link-hover;
              background-color: transparent;
            }
          }
        }
      } // .menu ul li
    } // .menu ul
  } // .menu
} // .site-header

.no-js .menu {
  display: block;
}

/*

########     ###     ######   #### ##    ##    ###    ######## ####  #######  ##    ##
##     ##   ## ##   ##    ##   ##  ###   ##   ## ##      ##     ##  ##     ## ###   ##
##     ##  ##   ##  ##         ##  ####  ##  ##   ##     ##     ##  ##     ## ####  ##
########  ##     ## ##   ####  ##  ## ## ## ##     ##    ##     ##  ##     ## ## ## ##
##        ######### ##    ##   ##  ##  #### #########    ##     ##  ##     ## ##  ####
##        ##     ## ##    ##   ##  ##   ### ##     ##    ##     ##  ##     ## ##   ###
##        ##     ##  ######   #### ##    ## ##     ##    ##    ####  #######  ##    ##

Pagination */

$centre-block-border-w: 0.2em;
$centre-block-w:        ($lh-base * 2) + ($centre-block-border-w * 2);
$arrow-margin:          0.5em;
$arrow-height:          $lh-base * 2;
$arrow-size:            1em;

.pagination {
  margin: $arrow-height 0 1.6889em;
  height: $arrow-height;
  width: 100%;
  line-height: $arrow-height;
  text-align: center;
  font-family: $display-font;
  .page_number {
    display: block;
    float: left;
    height: $arrow-height;
    width: $centre-block-w;
    border-left: $centre-block-border-w solid $bg-light;
    border-right: $centre-block-border-w solid $bg-light;
    display: block;
    background: $light-outline; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  $light-outline 0%, $light-outline 49%, $text-dark 49%, $text-dark 51%, $light-outline 51%, $light-outline 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$light-outline), color-stop(49%,$light-outline), color-stop(49%,$text-dark), color-stop(51%,$text-dark), color-stop(51%,$light-outline), color-stop(100%,$light-outline)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  $light-outline 0%,$light-outline 49%,$text-dark 49%,$text-dark 51%,$light-outline 51%,$light-outline 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  $light-outline 0%,$light-outline 49%,$text-dark 49%,$text-dark 51%,$light-outline 51%,$light-outline 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  $light-outline 0%,$light-outline 49%,$text-dark 49%,$text-dark 51%,$light-outline 51%,$light-outline 100%); /* IE10+ */
    background: linear-gradient(135deg,  $light-outline 0%,$light-outline 49%,$text-dark 49%,$text-dark 51%,$light-outline 51%,$light-outline 100%); /* W3C */
    .numerator, .denominator {
      font-size: $fs-small;
      line-height: $lh-small;
      display: block;
      width: 66%;
      font-weight: 700;
    }
    .numerator {
      margin-top: 0;
    }
    .denominator {
      margin-left: 33.33%;
    }
  }
  .arrow {
    display: block;
    position: relative;
    height: $arrow-height;
    width: calc(50% - #{$centre-block-w / 2 + $arrow-margin});
    background: $light-outline;
    color: $text-light;
    &.newer {
      margin-right: $arrow-margin;
      float: right;
      // text-indent: $arrow-size / 2; // throws-off arrow tip in FF
      &:after {
        content: "";
        position: absolute;
        right: $arrow-size * -1;
        top: 0;
        border-top: ($arrow-height / 2) solid transparent;
        border-bottom: ($arrow-height / 2) solid transparent;
        border-left: $arrow-size solid $light-outline;
      }
    }
    &.older {
      margin-left: $arrow-margin;
      float: left;
      // text-indent: $arrow-size / -2;  // throws-off arrow tip in FF
      &:before {
        content: "";
        position: absolute;
        left: $arrow-size * -1;
        top: 0;
        border-top: ($arrow-height / 2) solid transparent;
        border-bottom: ($arrow-height / 2) solid transparent;
        border-right: $arrow-size solid $light-outline;
      }
    }
  }
  &.post-nav {
    .arrow {
      width: calc(50% - 0.7em);
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $fs-small;
        line-height: $lh-small * 2;
        padding: 0 (0.4em / $fs-small * 1em);
      }
    }
  }
  a.arrow {
    background: $bg-dark;
    color: $bg-light;
    text-shadow: none;
    &:hover {
      background: $link-hover;
      &.newer:after {
        border-left-color: $link-hover;
      }
      &.older:before {
        border-right-color: $link-hover;
      }
    }
    &.newer:after {
      border-left-color: $bg-dark;
    }
    &.older:before {
      border-right-color: $bg-dark;
    }
  }
}

/*

 ######  ######## ########  ##     ##  ######  ######## ##     ## ########  ########
##    ##    ##    ##     ## ##     ## ##    ##    ##    ##     ## ##     ## ##
##          ##    ##     ## ##     ## ##          ##    ##     ## ##     ## ##
 ######     ##    ########  ##     ## ##          ##    ##     ## ########  ######
      ##    ##    ##   ##   ##     ## ##          ##    ##     ## ##   ##   ##
##    ##    ##    ##    ##  ##     ## ##    ##    ##    ##     ## ##    ##  ##
 ######     ##    ##     ##  #######   ######     ##     #######  ##     ## ########

Page Structure */
#page {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 53em;
  margin: $lh-base 0 0;
  @include mediumbp {
    margin: $lh-base auto 0;
  }
  @include largebp {
    margin-top: 0;
    border-top: ($lh-base / 2) solid $text-dark;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: $bg-light;
  }
  .primary {
    padding: 0 5% $lh-base;
    max-width: calc(25.6em + 10%);
    @include largebp {
      padding-top: ($lh-base / 2);
      &#no-content-found {
        padding-top: $lh-base * 1.5;
      }
    }
    @include xlargebp {
      float: left;
    }
  }
  .secondary {
    padding: 0 5% $lh-base;
    border-top: 4px double rgba($bg-light, 0.2);
    @include largebp {
      padding-top: ($lh-base / 2);
    }
    @include xlargebp {
      float: left;
      width: calc(90% - 25.6em);
      max-width: calc(15.8em + 6%);
      border-top: none;
      padding-left: 1%;
    }
  }
}
.site-footer {
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings:"liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
  margin: 0;
  padding: 0 5%;
  border-top: 4px double rgba($text-dark, 0.2);
  @include largebp {
    border-top: none;
  }
  @include mediumbp {
  }
}
@include largebp {
  body {
    background-color: $bg-shade;
  }
  .site-header {
      position: fixed;
      width: 10.8em;
      height: 100%;
      overflow-y: scroll;
      padding: $lh-base;
  }
  .wrapper {
    width: 75%;
    width: calc(100% - 10.8em);
    margin-left: 10.8em;
  }
}

/*

 ######  #### ########  ######## ########     ###    ########
##    ##  ##  ##     ## ##       ##     ##   ## ##   ##     ##
##        ##  ##     ## ##       ##     ##  ##   ##  ##     ##
 ######   ##  ##     ## ######   ########  ##     ## ########
      ##  ##  ##     ## ##       ##     ## ######### ##   ##
##    ##  ##  ##     ## ##       ##     ## ##     ## ##    ##
 ######  #### ########  ######## ########  ##     ## ##     ##

Sidebar Styling */

.secondary {
  background: $bg-dark;
  color: $bg-light;
  @include xlargebp {
    background: transparent;
    color: $text-dark;
  }
  a {
    color: $bg-light;
    text-shadow:
      0 -.03em $bg-dark,0 0 $bg-dark,0 .03em $bg-dark,0 .06em $bg-dark,0 .08em $bg-dark,
      .03em -.03em $bg-dark,.03em 0 $bg-dark,.03em .03em $bg-dark,.03em .06em $bg-dark,.03em .08em $bg-dark,
      -.03em -.03em $bg-dark,-.03em 0 $bg-dark,-.03em .03em $bg-dark,-.03em .06em $bg-dark,-.03em .08em $bg-dark,
      .06em -.03em $bg-dark,.06em 0 $bg-dark,.06em .03em $bg-dark,.06em .06em $bg-dark,.06em .08em $bg-dark,
      -.06em -.03em $bg-dark,-.06em 0 $bg-dark,-.06em .03em $bg-dark,-.06em .06em $bg-dark,-.06em .08em $bg-dark,
      .08em -.03em $bg-dark,.08em 0 $bg-dark,.08em 0.03em $bg-dark,.08em 0.06em $bg-dark,.08em 0.08em $bg-dark,
      -.08em -.03em $bg-dark,-.08em 0 $bg-dark,-.08em 0.03em $bg-dark,-.08em 0.06em $bg-dark,-.08em 0.08em $bg-dark;
    &:hover {
      color: $bg-light;
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient($link-hover, $link-hover);
    }
    @include xlargebp {
      color: $text-dark;
      text-shadow:
        0 -.03em $bg-light,0 0 $bg-light,0 .03em $bg-light,0 .06em $bg-light,0 .08em $bg-light,
        .03em -.03em $bg-light,.03em 0 $bg-light,.03em .03em $bg-light,.03em .06em $bg-light,.03em .08em $bg-light,
        -.03em -.03em $bg-light,-.03em 0 $bg-light,-.03em .03em $bg-light,-.03em .06em $bg-light,-.03em .08em $bg-light,
        .06em -.03em $bg-light,.06em 0 $bg-light,.06em .03em $bg-light,.06em .06em $bg-light,.06em .08em $bg-light,
        -.06em -.03em $bg-light,-.06em 0 $bg-light,-.06em .03em $bg-light,-.06em .06em $bg-light,-.06em .08em $bg-light,
        .08em -.03em $bg-light,.08em 0 $bg-light,.08em 0.03em $bg-light,.08em 0.06em $bg-light,.08em 0.08em $bg-light,
        -.08em -.03em $bg-light,-.08em 0 $bg-light,-.08em 0.03em $bg-light,-.08em 0.06em $bg-light,-.08em 0.08em $bg-light;
      &:hover {
        color: $bg-dark;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient($bg-dark, $bg-dark);
      }
    }
  }
  section {
    ul {
      list-style: none;
      padding-left: 0;
    }
    margin-bottom: $lh-base * 2;
    h3 {
      margin: $lh-h3 0;
    }
  }
  @include xlargebp {
    section {
      font-size: $fs-small;
      line-height: $lh-small;
      margin-bottom: $lh-small * 2;
      &.featured_embed {
        margin-top: $lh-small;
      }
      h3 {
        font-size: $fs-s-h3;
        line-height: $lh-s-h3;
        margin: $lh-s-h3 0 ($lh-s-h3 - 0.15em);
        border-bottom: 0.15em solid;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.05em;
      }
      h4 {
        font-size: $fs-s-h4;
        line-height: $lh-s-h4;
        margin-top: $lh-s-h4;
      }
      p {
        margin-bottom: $lh-small * 1;
      }
    }
  }
  .big-link {
    display: block;
    max-width: 25.6em;
    margin-top: $lh-p;
    line-height: $lh-p * 2;
    padding: 0 ($lh-p / 2) 0 ($lh-p / 4);
    text-shadow: none;
    background-image: none;
    background-color: $bg-light;
    color: $text-dark;
    @include xlargebp {
      color: $bg-light;
      background-color: $text-dark;
    }
    font-family: $display-font;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: background-color 0.15s ease-in, color 0.15s ease-in;
            transition: background-color 0.15s ease-in, color 0.15s ease-in;
    .facebook, .twitter {
      margin-right: $lh-p / 4;
      vertical-align: middle;
      -webkit-transition: -webkit-filter 0.15s ease-in;
              transition: filter 0.15s ease-in;
      @include xlargebp {
        -webkit-filter: brightness(10);
                filter: brightness(10);
      }
    }
    &:hover {
      color: $bg-light;
      background-image: none;
      background-color: $link-hover;
      .facebook, .twitter  {
        -webkit-filter: brightness(10);
                filter: brightness(10);
      }
    }
  }
}

.premiere {
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 0.7em;
  font-weight: 700;
  background-color: $bg-light;
  color: $text-dark;
  @include xlargebp {
    background-color: $bg-dark;
    color: $bg-light;
  }
  border-radius: 100%;
  height: 2.28571429em;
  width: 2.28571429em;
  line-height: 2.4;
  text-align: center;
  cursor: help;
  margin-right: 0.2em;
  &[title] {
    border-bottom: none;
  }
}

/*

######## ##     ## ######## ##    ## ########  ######
##       ##     ## ##       ###   ##    ##    ##    ##
##       ##     ## ##       ####  ##    ##    ##
######   ##     ## ######   ## ## ##    ##     ######
##        ##   ##  ##       ##  ####    ##          ##
##         ## ##   ##       ##   ###    ##    ##    ##
########    ###    ######## ##    ##    ##     ######

Events page layout */

.event-card {
  h3,
  h4 {
    float: right;
    width:70.6%;
    margin: 0;
    font-size: 1em;
    line-height: $lh-base;
    font-weight: 700;
    a {
      background-position: 0% 90%, 100% 90%, 0% 90%;
      @include smallbp {
        background-position: 0% 83%, 100% 83%, 0% 83%;
      }
    }
  }
  a {
    .eventdate {
      float: left;
      margin-right: 5%;
      width: 24.3%;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      @include liningnums;
      text-align: center;
      background-color: $bg-dark;
      color: $bg-light;
      font-family: $display-font;
      font-weight: 700;
      text-shadow: none;
      transition: background-color 0.15s ease-in;
      span {
        display: block;
        font-size: $fs-small;
        line-height: $lh-small;
        &.d {
          font-weight: 400;
          font-size: 2em;
          line-height: $lh-base / 2;
        }
      }
    }
    &:hover {
      .eventdate {
        background-color: $link-hover;
      }
    }
  }
  p {
    float: right;
    width:70.6%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.secondary {
  .event-card {
    h4 {
      margin-top: 0;
      font-size: 1em;
      line-height: $lh-base;
    }
    a {
      .eventdate {
        background-color: $bg-light;
        color: $text-dark;
        @include xlargebp {
          background-color: $bg-dark;
          color: $bg-light;
        }
      }
      &:hover {
        .eventdate {
          background-color: $link-hover;
        }
      }
    }
  }
}

@include mediumbp {
  .archive.events .primary {
    max-width: 100%;
    width: 100%;
    .event-card {
      width: 47.5%;
      margin-right: 5%;
      float: left;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
}

.archive.events {
  h3 {
    font-size: $fs-h2;
    line-height: $lh-h2 * 2;
    margin: ($lh-h2 * 2) 0 ($lh-h2 * 2 - 0.1em);
    border-bottom: 0.08em solid;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    @include liningnums;
  }
}

.single-event {
  .entry-meta {
    font-family: $display-font;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: $text-light;
    @include liningnums;
  }
  .programme {
    margin-top: $lh-p;
    list-style: none;
    padding-left: 0;
    @include smallbp {
      @include column-count(2);
      @include column-gap($lh-p);
      .item {
        @include break-inside(avoid);
      }
    }
    .composer, .work {
      display: block;
    }
    .work {
      margin-left: $lh-p;
    }
  }
}

/*

##      ##  #######  ########  ##    ##  ######
##  ##  ## ##     ## ##     ## ##   ##  ##    ##
##  ##  ## ##     ## ##     ## ##  ##   ##
##  ##  ## ##     ## ########  #####     ######
##  ##  ## ##     ## ##   ##   ##  ##         ##
##  ##  ## ##     ## ##    ##  ##   ##  ##    ##
 ###  ###   #######  ##     ## ##    ##  ######

Works List Styles */

.music.archive {
  .entry-title {
    margin-bottom: 0;
  }
}
.worklist {
  list-style: none;
  .work {
    .work-title {
      font-size: 1em;
      line-height: $lh-p;
      margin: 0;
      a {
        background-position: 0% 95%, 100% 95%, 0% 95%;
        &:before {
          content: " • ";
          font-size: $fs-big;
          line-height: $lh-big / 2;
          display: inline-block;
          width: 0.001em;
          height: $lh-big / 2;
          position: relative;
          top: .15em;
          left: -0.6em;
        }
      }
    }
    @each $size, $colour in $sizes {
      a.#{$size} {
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba($colour, 1), rgba($colour, 1));
        &:before {
          color: $colour;
        }
        &:hover {
          color: $text-dark;
          background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), linear-gradient(rgba($text-dark, 1), rgba($text-dark, 1));
          &:before {
            color: $text-dark;
          }
        }
      }
    }
    .work-meta {
      color: $text-light;
      margin-bottom: 0;
    }
  }
}

/*

####  ######   #######  ##    ##  ######
 ##  ##    ## ##     ## ###   ## ##    ##
 ##  ##       ##     ## ####  ## ##
 ##  ##       ##     ## ## ## ##  ######
 ##  ##       ##     ## ##  ####       ##
 ##  ##    ## ##     ## ##   ### ##    ##
####  ######   #######  ##    ##  ######

Social Media Icons */

.icon {
  display: inline-block;
  background-size: 117.647059%;
  background-position: center;
  width: $lh-base;
  height: $lh-base;
  text-indent: -999em;
  text-align: left;
  &.rss-feed {
    background-size: 85%;
  }
}
.site-footer {
  .icon {
    opacity: 0.35;
    -webkit-transition: opacity 0.15s ease-in;
            transition: opacity 0.15s ease-in;
    &:hover {
      opacity: 1;
    }
  }
}
$icons: github rss-feed soundcloud twitter facebook;
$icons-url: "img/" !default;
@each $icon in $icons {
  .icon.#{$icon} {
    background-image: url("#{$icons-url}#{$icon}.svg");
  }
}
@media print {
  .icon {
    text-indent: 0;
    width: auto !important;
    height: auto !important;
  }
}

/*

##     ## ######## ##       ########  ######## ########   ######
##     ## ##       ##       ##     ## ##       ##     ## ##    ##
##     ## ##       ##       ##     ## ##       ##     ## ##
######### ######   ##       ########  ######   ########   ######
##     ## ##       ##       ##        ##       ##   ##         ##
##     ## ##       ##       ##        ##       ##    ##  ##    ##
##     ## ######## ######## ##        ######## ##     ##  ######

Helper classes */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden, .separator {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/*

########  ########  #### ##    ## ########
##     ## ##     ##  ##  ###   ##    ##
##     ## ##     ##  ##  ####  ##    ##
########  ########   ##  ## ## ##    ##
##        ##   ##    ##  ##  ####    ##
##        ##    ##   ##  ##   ###    ##
##        ##     ## #### ##    ##    ##

Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/

*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * use the `javascript:` pseudo protocol, or would
     * obstruct the display of chart data
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after,
    .sparkchart a[href]:after {
        content: "";
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    blockquote {
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3,
    h4 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }

    /*
    * Print better charts
    */
    .sparkchart li a .percentage {
      border-top-width: 5px;
    }
    .chartlist li .percentage {
      border-right-width: 5px;
    }
}
