---
# Main stylesheet
---
/* ==========================================================================
   SASS partials import
   ========================================================================== */
@import 'vars';
@import 'normalize';
@import 'bigfoot';

/* ==========================================================================
   @font-face declarations
   ========================================================================== */

 @font-face {
   /* Infini, Sandrine Nugue / CNAP */
   font-family: 'Infini';
   src: url('../fonts/infini-romain.eot'); /* IE9 Compat Modes */
   src: url('../fonts/infini-romain.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/infini-romain.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/infini-romain.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/infini-romain.svg#svgInfini') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }
 @font-face {
   /* Infini, Sandrine Nugue / CNAP */
   font-family: 'Infini';
   src: url('../fonts/infini-gras.eot'); /* IE9 Compat Modes */
   src: url('../fonts/infini-gras.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/infini-gras.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/infini-gras.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/infini-gras.svg#svgInfiniGras') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }

/* ==========================================================================
  Base styles: opinionated defaults
  ========================================================================== */

html {
    color: $text-dark;
    font-size: 1.125em;
    line-height: 1.6;
    font-family: $body-font;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $link-hover;
    text-shadow: none;
}

::selection {
    background: $link-hover;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $light-outline;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings:"liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
  background-color: $bg-light;
}
h1 {
  font-family: $display-font;
  text-transform: uppercase;
  font-weight:300;
  font-size: 2em;
  line-height: 1.2;
  margin: 0 0 1.2em;
  letter-spacing: -0.05em;
  word-spacing: 0.15em;
  &.site-title {
    a {
      text-decoration: none;
      color: $text-dark;
    }
  }
}
h2 {
  font-family: $display-font;
  font-size: 1.5555555555em;
  margin: 1.11em 0 0;
}
h3 {
  font-weight: 400;
  font-size: 1.3333333333em;
  margin: 2.4em 0 1.2em 0;
  line-height: 1.2;
  a {
    text-decoration: none;
  }
}
h4 {
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  margin-bottom: 0;
}
.hyphenate {
  @include hyphens(auto);
}
p, blockquote {
  margin:0 0 1.6em;
  text-align: justify;
}
a {
  color: $link;
}
a:hover {
  color: $link-hover;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0 5% 1.6em;
  background-color: $bg-light;
}
.datalist {
    list-style: none;
    padding-left: 0;
}
.bibliography {
  list-style: none;
  text-indent: -3.2em;
  padding-left: 3.2em;
  li {
    margin-bottom: 0.6em;
  }
}
header, footer {
  padding: 0 5%;
  background-color: $bg-light;
  ul {
    padding: 1em 0;
    padding-left:0;
    margin: 0;
    li {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-right: 1em;
      font-family: $display-font;
      font-size: 0.85em;
      font-weight: 700;
      a {
        text-decoration: none;
      }
    }
  }
}
pre {
  background-color: $bg-light;
  padding: 0.6em;
  margin-left: -0.6em;
  border-radius: 1em;
  margin-right: -0.6em;
  box-shadow: inset 0px 0px 15px -5px;
}
code, kbd, pre, samp {
  font-size: 0.9em;
  line-height: 1.7777777;
  text-align: left;
}
.footnotes {
  ol {
    li {
      p {
        margin: 0;
      }
    }
  }
}
.chartlist {
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;
  width: 100%;
  padding-left: 0;
  background: #fff;
  box-shadow: 0 0 15px -10px #000;
  li {
    position: relative;
    display: block;
    border-bottom: 1px solid #EEE;
    list-style: none;
    _zoom: 1;
    .label {
      display: block;
      padding: 0.4em 4.5em 0.4em 0.5em;
      position: relative;
      z-index: 2;
    }
    .value {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0 0.4em;
      padding: 0.4em 0;
      text-align: right;
      color: #999;
      font-weight: bold;
      z-index: 3;
    }
    .percentage {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: #B8E4F5;
      text-indent: -9999px;
      overflow: hidden;
      line-height: 2em;
    }
    &:hover {
      background: #EFEFEF;
      .percentage {
        background: #85d4f2;
      }
    }
  }
}
.sparkchart {
  border: 1px solid #EEE;
  width: 100%;
  padding-left: 0;
  background: #fff;
  box-shadow: 0 0 15px -10px #000;
  margin-bottom: 3.2em;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  li {
    position: relative;
    display: block;
    float: right;
    list-style: none;
    border-bottom: 0.2em solid #B8E4F5;
    _zoom: 1;
    &:nth-child(even) {
      background: #fafafa;
    }
    a {
      display: block;
      height: 4.8em;
      .label {
        display: block;
        position: absolute;
        top: 5em;
        height: 1px;
        text-indent: -9999px;
        overflow: hidden;
        z-index: 4;
      }
      .percentage {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #B8E4F5;
        text-indent: -9999px;
        overflow: hidden;
      }
      &:hover {
        background: #EFEFEF;
        color: $text-dark;
        .label {
          text-indent: 0;
          overflow: visible;
        }
        .percentage {
          background: #85d4f2;
        }
      }
    }
    .separator {
      display: none;
    }
    .value {
      display: block;
      position: absolute;
      width: 500%;
      height: 1px;
      top: -1.6em;
      left: -200%;
      text-align: center;
      text-indent: 9999px;
      overflow: hidden;
      font-weight: 700;
      padding: 0 0.4em;
      z-index: 3;
    }
    &:hover {
      .value {
        text-indent: 0;
        overflow: visible;
        text-shadow: 0 0 4px #fff;
      }
    }
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 30em) {
    /* Style adjustments for viewports that meet the condition */
    html {
      font-size: 1.25em;
    }
    h1 {
      font-size: 3em;
    }
    ul,ol,dl {
      padding-left: 0;
    }
}

@media only screen and (min-width: 60em) {
    /* Style adjustments for viewports that meet the condition */
    html {
      font-size: 1.375em;
    }
    .container,header,footer {
      max-width: 28em;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    blockquote {
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3,
    h4 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }
}
