---
layout: default
title: Gender Audit
digest: "Some basic numbers on gender (in)equality in my community"
lede: "Since 2011 I have made occasional forays into gender auditing as a way of paying attention to my position in the remarkably unequal field of contemporary music composition. My attempts were occasional — a couple of analyses of my immediate environments in recognition of International Women’s Day, some (perhaps brash) comments upon finding myself programmed on all-male concerts — and their irregularity was problematic.

What follows below is the result of restructuring this site. I have built gender auditing into my event listing manager, so these numbers will always be the most recent reflection of the community as I participate in it. These aren’t exhaustive numbers. My performance context is not representative of *all* of contemporary music. Gender inequality is far more complex than a tally of whose music is performed. Gender audits do little to help reveal the causes of inequality. However, I do believe that at the very least they are a reminder of the work to do, and for any doubters, proof of a very real imbalance."
---
  <h2>{{ page.title }}</h2>
  {% if page.digest %}<p><em>{{ page.digest }}</em></p>{% endif %}
  {% if page.lede %}{{ page.lede | MARKDOWN????? }}{% endif %}

  {% assign worksperformed = '' %}
  {% assign worksperformedF = '' %}
  {% assign worksperformedM = '' %}
  {% for event in site.events %}
    {% if event.programme %}
      {% for item in event.programme %}
        {% capture worksperformed %}{{ worksperformed | append: '.' }}{% endcapture %}
        {% if item.gender == 'F' %}
          {% capture worksperformedF %}{{ worksperformedF | append: '.' }}{% endcapture %}
        {% elsif item.gender == 'M' %}
          {% capture worksperformedM %}{{ worksperformedM | append: '.' }}{% endcapture %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  <ul class="datalist">
    <li>Number of works programmed: {{ worksperformed.size }}</li>
    <li>Number by women: {{ worksperformedF.size }}</li>
    <li>Number by men: {{ worksperformedM.size }}</li>
  </ul>
