---
title: Home
digest: Latest updates and activity
tags:
  - home
layout: default
---
<section class="primary hfeed">
  <header>
    <h2>{{ page.title }}{% unless paginator.page == 1 %} / p.{{ paginator.page }}{% endunless %}</h2>
  </header>
  {% unless paginator.page == 1 %}
  <!-- Pagination links -->
  <div class="pagination clearfix">{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="arrow older" rel="prev">Older</a>{% else %}
    <span class="arrow older">Older</span>{% endif %}
    <span class="separator">—</span>
    <span class="page_number">
      <span class="visuallyhidden">Page</span>
      <span class="numerator">{{ paginator.page }}</span>
      <span class="visuallyhidden">of</span>
      <span class="denominator">{{ paginator.total_pages }}</span>
    </span>
    <span class="separator">—</span>{% if paginator.previous_page %}
    <a href="{{ site.url }}{% if paginator.previous_page_path == '/index.html' %}/{% else %}{{ paginator.previous_page_path }}{% endif %}" class="arrow newer" rel="next">Newer</a>{% else %}
    <span class="arrow newer">Newer</span>{% endif %}
  </div>
  {% endunless %}
  {% for post in paginator.posts %}
  <article id="{{ post.title | slugify }}" class="hentry{% if forloop.first %} first{% endif %}">
    <header>{% unless post.title == 'No Content Found' %}
      <h3 class="entry-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h3>{% endunless %}
      <p class="entry-meta">Posted on <time class="published" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: "%A, %-d %B %Y" }}</time></p>
    </header>
    <div class="entry-content hyphenate">{% if post.featured_image %}{% if post.featured_image_alt %}{% assign alttext = post.featured_image_alt %}{% else %}{% assign alttext = post.title | append: ' featured image' %}{% endif %}
      <a href="{{ post.url }}">{% picture alignright {{ post.featured_image }} alt="{{ alttext }}" %}</a>{% endif %}
      {{ post.content }}{% if post.layout == 'audit' %}
      {% include audit_layout_setup.html %}
      {% include audit_layout_content.html %}{% endif %}
      {% include _article-json-ld.html context="feed" %}
    </div>
  </article>{% endfor %}

  <!-- Pagination links -->
  <footer class="pagination clearfix">{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="arrow older" rel="prev">Older</a>{% else %}
    <span class="arrow older">Older</span>{% endif %}
    <span class="separator">—</span>
    <span class="page_number">
      <span class="visuallyhidden">Page</span>
      <span class="numerator">{{ paginator.page }}</span>
      <span class="visuallyhidden">of</span>
      <span class="denominator">{{ paginator.total_pages }}</span>
    </span>
    <span class="separator">—</span>{% if paginator.previous_page %}
    <a href="{{ site.url }}{% if paginator.previous_page_path == '/index.html' %}/{% else %}{{ paginator.previous_page_path }}{% endif %}" class="arrow newer" rel="next">Newer</a>{% else %}
    <span class="arrow newer">Newer</span>{% endif %}
  </footer>
  <p class="aligncenter small ui"><a href="/index/">See an index of all posts</a></p>
</section>
<aside class="secondary" role="complementary">
  <section>
    <h3>Microbiography</h3>
    <p>My name is Chris Swithinbank and I write <a href="/works/"><strong>music</strong></a> using acoustic instruments and electronic sounds. Occasionally, I also write <a href="/text/"><strong>text</strong></a> about music or related subjects. I am currently a student at Harvard University with Chaya Czernowin. <a href="/bio/">More about me »</a></p>
  </section>

  {% capture nextevent %}{% include events_archive-list.html scope="future" context="aside" limit="1" %}{% endcapture %}{% if nextevent %}
  <section class="events">
    <h3>Next event</h3>
    {{ nextevent }}
    <a href="/diary/">See all upcoming events »</a>
  </section>{% endif %}
</aside>
