---
title: "Music 264: Improvisers Listen"
digest: Music from the lives of improvisers
layout: page
tags:
  - music264
featured_image: 2015/09/smith-panel-1-blade.jpg
featured_image_alt: Graphic notation
featured_image_caption: Score from *Luminous Axis* by [Wadada Leo Smith](https://www.youtube.com/watch?v=lFsoaGZNp0Q)
---
{% for post in site.tags.['Music 264'] %}
<article id="{{ post.title | slugify }}" class="hentry">
  <header>{% unless post.title == 'No Content Found' %}
    <h3 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a></h3>{% endunless %}
    <p class="entry-meta">Posted on <time class="published" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: "%A, %-d %B %Y" }}</time></p>
  </header>
  <div class="entry-content hyphenate">{% if post.featured_image %}{% if post.featured_image_alt %}{% assign alttext = post.featured_image_alt %}{% else %}{% assign alttext = post.title | append: ' featured image' %}{% endif %}
    <a href="{{ site.url }}{{ post.url }}">{% picture alignright {{ post.featured_image }} alt="{{ alttext }}" %}</a>{% endif %}
    {{ post.content }}
    {% include _article-json-ld.html context="feed" %}
  </div>
</article>{% endfor %}
