<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Chris Swithinbank",
  "givenname" : "Christopher",
  "familyname" : "Swithinbank",
  "birthDate" : "1988-08-08",
  "birthPlace" : "Voorburg, The Netherlands",
  "nationality" : [ "GB", "NL" ],
  "jobTitle" : "Composer",
  "url" : "http://www.chrisswithinbank.net",
  "sameAs" : [ "https://soundcloud.com/swithinbank", "http://twitter.com/swithinbank", "https://github.com/delucis", "https://chrisswithinbank.bandcamp.com/", "http://delucis.tumblr.com/", "http://www.flickr.com/photos/delucis/", "http://www.last.fm/user/ChristopherLux", "https://www.goodreads.com/swithinbank" ],
  "affiliation" : {
    "@type" : "EducationalOrganization",
    "name" : "Harvard University",
    "url" : "http://www.harvard.edu/"
  },
  "alumniOf" : [
    {
      "@type" : "EducationalOrganization",
      "name" : "University of Manchester",
      "url" : "http://www.manchester.ac.uk/"
    },
    {
      "@type" : "EducationalOrganization",
      "name" : "Institut de Recherche et Coordination Acoustique/Musique",
      "url" : "http://www.ircam.fr/"
    }
  ],
  "sibling" : {
    "@type" : "Person",
    "givenname" : "Matthew",
    "familyname" : "Swithinbank",
    "url" : "http://luxlx.co.uk/",
    "jobTitle" : "Lighting designer & technician"
  },
  "parent" : [
    {
      "@type" : "Person",
      "givenname" : "Sandra",
      "familyname" : "Johnson"
    },
    {
      "@type" : "Person",
      "givenname" : "Mick",
      "familyname" : "Swithinbank"
    }
  ]
}
</script>
