{% capture cache %}
{% case include.type %}
  {% when 'page' %}
    {% assign toread = page.content %}
  {% when 'post' %}
    {% assign toread = post.content %}
  {% else %}
    {% assign toread = content %}
{% endcase %}

{% if toread %}
  {% assign words = toread | number_of_words %}
  {% case words %}
  {% when < 250 %}
    {% assign output = "< 1 min" %}
  {% when < 500 %}
    {% assign output = "1 min" %}
  {% else %}
    {% assign output = words | divided_by:250 | append: ' mins' %}
  {% endcase %}
{% endif %}{% endcapture %}{% assign cache = nil %}{{ output }}
