{% comment %}
INITIALISE VARIABLES
{% endcomment %}
{% assign concerts = 0 %}
{% assign concertsAllM = 0 %}
{% assign worksperformed = 0 %}
{% assign worksperformedF = 0 %}
{% assign worksperformedM = 0 %}
{% assign ownworks = 0 %}
{% assign relativeF = 0 %}
{% assign relativeM = 0 %}
{% assign parity_count = 0 %}
{% assign relativeF_string = '' %}
{% assign fractionF_string = '' %}
{% assign urls_string = '' %}
{% assign dates_string = '' %}
{% assign performers_string = '' %}
{% assign composers_string = '' %}
{% assign composersF_string = '' %}
{% assign composersM_string = '' %}
{% assign composers_string_verbose = '' %}
{% assign earliestYear = site.time | date: '%Y' %}

{% comment %}
PROCESS EVENT DATA
{% endcomment %}
{% for event in site.events %}
  {% if event.programme %}

    {% assign concerts = concerts | plus: 1 %}
    {% assign eventworks = 0 %}
    {% assign eventF = 0 %}
    {% assign eventM = 0 %}

    {% for item in event.programme %}
      {% assign eventworks = eventworks | plus: 1 %}
      {% unless composers_string contains item.composer %}
        {% assign composers_string = composers_string | append: item.composer | append: '||' %}
      {% endunless %}
      {% if item.gender == 'F' %}
        {% assign eventF = eventF | plus: 1 %}
        {% unless composersF_string contains item.composer %}
          {% assign composersF_string = composersF_string | append: item.composer | append: '||' %}
        {% endunless %}
        {% assign composers_string_verbose = composers_string_verbose | append: item.composer | append: '||' %}
      {% elsif item.gender == 'M' %}
        {% assign eventM = eventM | plus: 1 %}
        {% unless composersM_string contains item.composer %}
          {% assign composersM_string = composersM_string | append: item.composer | append: '||' %}
        {% endunless %}
      {% else %}
        <p>No gender entered: {{ item.composer }} — {{ item.work }}</p>
      {% endif %}
      {% if item.composer == 'Chris Swithinbank' %}
        {% assign ownworks = ownworks | plus: 1 %}
      {% endif %}
    {% endfor %}

    {% assign worksperformed = worksperformed | plus: eventworks %}
    {% assign worksperformedF = worksperformedF | plus: eventF %}
    {% assign worksperformedM = worksperformedM | plus: eventM %}

    {% assign event_relativeF = eventF | times: 1.00 | divided_by: eventworks %}
    {% assign relativeF = relativeF | plus: event_relativeF %}
    {% assign event_relativeM = eventM | times: 1.00 | divided_by: eventworks %}
    {% assign relativeM = relativeM | plus: event_relativeM %}

    {% if event_relativeF >= 0.5 %}
      {% assign parity_count = parity_count | plus: 1 %}
    {% endif %}

    {% assign relativeF_string = relativeF_string | append: event_relativeF | append: ' ' %}
    {% assign fractionF_string = fractionF_string | append: eventF | append: '/' | append: eventworks | append: ' ' %}

    {% if event.url %}
        {% assign urls_string = urls_string | append: event.url | append: ' ' %}
      {% else %}
        {% assign urls_string = urls_string | append: '0' | append: ' ' %}
    {% endif %}

    {% if event.date %}
        {% assign eventyear = event.date | date: '%Y' %}
        {% if eventyear < earliestYear %}
          {% assign earliestYear = eventyear %}
        {% endif %}

        {% assign eventdate = event.date | date: '%-d/%-m/%Y' %}
        {% assign dates_string = dates_string | append: eventdate | append: ' ' %}
      {% else %}
        {% assign dates_string = dates_string | append: '0' | append: ' ' %}
    {% endif %}

    {% if event.performer.name %}
        {% assign performers_string = performers_string | append: event.performer.name | append: '||' %}
      {% else %}
        {% assign performers_string = performers_string | append: '0' | append: '||' %}
    {% endif %}

    {% if eventF == 0 %}
      {% assign concertsAllM = concertsAllM | plus: 1 %}
    {% endif %}

  {% endif %}

{% endfor %}

{% assign othersworks = worksperformed | minus: ownworks %}

{% assign worksperformedF_percent = worksperformedF | times: 100.0 | divided_by: worksperformed | append: "" | truncate: 4, '' %}
{% assign worksperformedM_percent = worksperformedM | times: 100.0 | divided_by: worksperformed | append: "" | truncate: 4, '' %}
{% assign othersF_percent = worksperformedF | times: 100.0 | divided_by: othersworks | append: "" | truncate: 4, '' %}
{% assign concertsAllM_percent = concertsAllM | times: 100.0 | divided_by: concerts | append: "" | truncate: 4, '' %}
{% assign worksperconcert =  worksperformed | times: 1.0 | divided_by: concerts | append: "" | truncate: 3, '' %}
{% assign nodata = site.events.size | minus: concerts %}
{% assign relativeF = relativeF | divided_by: concerts | times: 100.0 | append: "" | truncate: 4, '' %}
{% assign relativeM = relativeM | divided_by: concerts | times: 100.0 | append: "" | truncate: 4, '' %}

{% assign relativeF_array = relativeF_string | split: ' ' %}
{% assign fractionF_array = fractionF_string | split: ' ' %}
{% assign urls_array = urls_string | split: ' ' %}
{% assign dates_array = dates_string | split: ' ' %}
{% assign performers_array = performers_string | split: '||' %}
{% assign composers_array = composers_string | split: '||' %}
{% assign composers_total = composers_array.size %}
{% assign composersF_array = composersF_string | split: '||' %}
{% assign composersF_total = composersF_array.size %}
{% assign composersF_percent = composersF_total | times: 100.0 | divided_by: composers_total | append: "" | truncate: 4, '' %}
{% assign composersM_array = composersM_string | split: '||' %}
{% assign composersM_total = composersM_array.size %}
{% assign composersM_percent = composersM_total | times: 100.0 | divided_by: composers_total | append: "" | truncate: 4, '' %}
{% assign composers_array_verbose = composers_string_verbose | split: '||' | sort %}

{% assign workspercomposerM = worksperformedM | minus: ownworks | times: 1.0 | divided_by: composersM_total | append: "" | truncate: 4, '' %}
{% assign workspercomposerF = worksperformedF | times: 1.0 | divided_by: composersF_total | append: "" | truncate: 4, '' %}

{% assign composers_string_clean = '' %}
{% assign composers_string_count = '' %}
{% for name in composers_array_verbose %}
  {% if name == backreference %}
    {% assign localcount = localcount | plus: 1 %}
  {% else %}
    {% unless forloop.index0 == 0 %}
      {% assign composers_string_clean = composers_string_clean | append: backreference | append: '||' %}
      {% assign composers_string_count = composers_string_count | append: localcount | append: '||' %}
    {% endunless %}
    {% assign localcount = 1 %}
    {% assign backreference = name %}
  {% endif %}
{% endfor %}

{% assign composers_array_clean = composers_string_clean | split: '||' %}
{% assign composers_array_count = composers_string_count | split: '||' %}

{% comment %}
  === AVAILABLE DATA TAGS ===
* {{ concerts }}                — the total number of concerts
* {{ nodata }}                  — number of concerts without programme data
* {{ concertsAllM }}            — the number of all-male concert programmes
* {{ concertsAllM_percent }}    — the percentage of concert programmes
                                  that are all male
* {{ earliestYear }}            — the earliest year an event occurred
* {{ worksperformed }}          — the total number of works performed
* {{ ownworks }}                — the total number of works by myself
* {{ othersworks }}             — the total number of works by others
* {{ worksperconcert }}         — the average number of works per concert
* {{ worksperformedF }}         — the total number of works by women performed
* {{ worksperformedF_percent }} — the percentage of works performed by women
* {{ othersF_percent }}         — the percentage of works by women in comparison
                                  with men who are not me
* {{ worksperformedM }}         — the total number of works by men performed
* {{ worksperformedM_percent }} — the percentage of works performed by men
* {{ relativeF }}               — the average percentage of works by women
                                  per concert
* {{ relativeM }}               — the average percentage of works by men
                                  per concert
* {{ relativeF_array }}         — an array of the percentage of works by women
                                  for each concert
* {{ fractionF_array }}         — an array of the fraction of works by women
                                  for each concert
* {{ urls_array }}              — an array of event URLs matching
                                  {{ relativeF_array }}
* {{ dates_array }}             — an array of event dates matching
                                  {{ relativeF_array }}
* {{ performers_array }}        — an array of performer names matching
                                  {{ relativeF_array }}
* {{ composers_array }}         — an array of all composers’ names
* {{ composers_total }}         — the total number of composers
* {{ composersF_array }}        — an array of all the female composers’ names
* {{ composersF_total }}        — the total number of female composers
* {{ composersF_percent }}      — the number of female composers as a percentage
* {{ composersM_array }}        — an array of all the male composers’ names
* {{ composersM_total }}        — the total number of male composers
* {{ composersM_percent }}      — the number of male composers as a percentage
* {{ workspercomposerM }}       — average times a male composer is programmed
* {{ workspercomposerF }}       — average times a female composer is programmed
{% endcomment %}
