<figure>
  <ul class="chartlist">
    <li class="legend">
      <span class="label">Number of works programmed</span><span class="separator"> — </span>
      <span class="value">Total: {{ worksperformed }}</span>
    </li>
    <li>
      <span class="label">Works by male composers</span>
      <span class="value">{{ worksperformedM }} ({{ worksperformedM_percent }}%)</span>
      <span class="percentage"style="width: {{ worksperformedM_percent }}%;"></span>
    </li>
    <li>
      <span class="label">Works by female composers</span>
      <span class="value">{{ worksperformedF }} ({{ worksperformedF_percent }}%)</span>
      <span class="percentage" style="width: {{ worksperformedF_percent }}%;"></span>
    </li>
  </ul>
  <figcaption>Breakdown of works performed by composer gender</figcaption>
</figure>
