<figure>
  <ul class="chartlist">
    <li class="legend">
      <span class="label">How often a composer is programmed</span>
    </li>
    <li>
      <span class="label">Male composer</span><span class="separator">:</span>
      <span class="value">{{ workspercomposerM }}</span>
      <span class="percentage" style="width: {{ workspercomposerM | divided_by: 1.5 | times: 100 }}%;"></span>
    </li>
    <li>
      <span class="label">Female composer</span><span class="separator">:</span>
      <span class="value">{{ workspercomposerF }}</span>
      <span class="percentage" style="width: {{ workspercomposerF | divided_by: 1.5 | times: 100 }}%;"></span>
    </li>
  </ul>
  <figcaption>Average number of times a single composer features on concert programmes.</figcaption>
</figure>
