{% capture cache %}
{% comment %}
INITIALISE VARIABLES
{% endcomment %}
{% if include.mindate %}{% assign mindate = include.mindate | times: 1 %}{% else %}{% assign mindate = 0 %}{% endif %}
{% if include.maxdate %}{% assign maxdate = include.maxdate | times: 1 %}{% else %}{% assign maxdate = 99999999 %}{% endif %}
{% assign concerts = 0 %}
{% assign concertsAllM = 0 %}
{% assign worksperformed = 0 %}
{% assign worksperformedF = 0 %}
{% assign worksperformedM = 0 %}
{% assign ownworks = 0 %}
{% assign relativeF = 0 %}
{% assign relativeM = 0 %}
{% assign parity_count = 0 %}
{% assign age_complete_count = 0 %}
{% assign relativeF_string = '' %}
{% assign fractionF_string = '' %}
{% assign urls_string = '' %}
{% assign dates_string = '' %}
{% assign performers_string = '' %}
{% assign composers_string = '' %}
{% assign composersF_string = '' %}
{% assign composersM_string = '' %}
{% assign composers_string_verbose = '' %}
{% assign ages_string = '' %}
{% assign agesF_string = '' %}
{% assign agesM_string = '' %}
{% assign ageAverages_string = '' %}
{% assign ageAveragesF_string = '' %}
{% assign ageAveragesM_string = '' %}
{% assign relativeAgesF_string = '' %}
{% assign relativeAgesM_string = '' %}
{% assign earliestYear = site.time | date: '%Y' | times: 1 %}

{% comment %}
PROCESS EVENT DATA
{% endcomment %}
{% for event in site.categories.events reversed %}
  {% assign testdate = event.date | date: '%Y%m%d' | times: 1 %}
  {% assign eventyear = event.date | date: '%Y' | times: 1 %}
  {% if testdate >= mindate and testdate <= maxdate %}
    {% if event.programme %}
      {% comment %}
      LOCAL VARIABLES PER EVENT
      {% endcomment %}
      {% assign concerts = concerts | plus: 1 %}
      {% assign eventworks = 0 %}
      {% assign eventF = 0 %}
      {% assign eventM = 0 %}
      {% assign eventAges_string = '' %}
      {% assign eventAgesF_string = '' %}
      {% assign eventAgesM_string = '' %}
      {% comment %}
      PROCESS EACH PROGRAMME ITEM
      {% endcomment %}
      {% for item in event.programme %}
        {% assign eventworks = eventworks | plus: 1 %}
        {% unless composers_string contains item.composer %}
          {% assign composers_string = composers_string | append: item.composer | append: '||' %}
        {% endunless %}
        {% if item.gender == 'F' %}
          {% assign eventF = eventF | plus: 1 %}
          {% unless composersF_string contains item.composer %}
            {% assign composersF_string = composersF_string | append: item.composer | append: '||' %}
          {% endunless %}
          {% assign composers_string_verbose = composers_string_verbose | append: item.composer | append: '||' %}
        {% elsif item.gender == 'M' %}
          {% assign eventM = eventM | plus: 1 %}
          {% unless composersM_string contains item.composer %}
            {% assign composersM_string = composersM_string | append: item.composer | append: '||' %}
          {% endunless %}
        {% else %}
          <p>No gender entered: {{ item.composer }} — {{ item.work }}</p>
        {% endif %}
        {% if item.composer == 'Chris Swithinbank' %}
          {% assign ownworks = ownworks | plus: 1 %}
        {% endif %}
        {% if site.data.composers.[item.composer].birthDate %}
          {% unless site.data.composers.[item.composer].deathDate %}
            {% assign birthDate = site.data.composers.[item.composer].birthDate %}
            {% assign age = eventyear | minus: birthDate %}
            {% assign eventAges_string = eventAges_string | append: age | append: ',' %}
            {% assign ages_string = ages_string | append: age | append: ',' %}
            {% if item.gender == 'F' %}
              {% assign eventAgesF_string = eventAgesF_string | append: age | append: ',' %}
              {% assign agesF_string = agesF_string | append: age | append: ',' %}
            {% endif %}
            {% if item.gender == 'M' %}
              {% assign eventAgesM_string = eventAgesM_string | append: age | append: ',' %}
              {% assign agesM_string = agesM_string | append: age | append: ',' %}
            {% endif %}
          {% endunless %}
        {% endif %}
      {% endfor %}

      {% assign worksperformed = worksperformed | plus: eventworks %}
      {% assign worksperformedF = worksperformedF | plus: eventF %}
      {% assign worksperformedM = worksperformedM | plus: eventM %}

      {% assign event_relativeF = eventF | times: 1.00 | divided_by: eventworks %}
      {% assign relativeF = relativeF | plus: event_relativeF %}
      {% assign event_relativeM = eventM | times: 1.00 | divided_by: eventworks %}
      {% assign relativeM = relativeM | plus: event_relativeM %}

      {% if event_relativeF >= 0.5 %}
        {% assign parity_count = parity_count | plus: 1 %}
      {% endif %}

      {% assign relativeF_string = relativeF_string | append: event_relativeF | append: ' ' %}
      {% assign fractionF_string = fractionF_string | append: eventF | append: '/' | append: eventworks | append: ' ' %}

      {% if event.url %}
          {% assign urls_string = urls_string | append: event.url | append: ' ' %}
        {% else %}
          {% assign urls_string = urls_string | append: '0' | append: ' ' %}
      {% endif %}

      {% if event.date %}
          {% if eventyear < earliestYear %}
            {% assign earliestYear = eventyear %}
          {% endif %}
          {% assign eventdate = event.date | date: '%-d/%-m/%Y' %}
          {% assign dates_string = dates_string | append: eventdate | append: ' ' %}
        {% else %}
          {% assign dates_string = dates_string | append: '0' | append: ' ' %}
      {% endif %}

      {% if event.performer.name %}
          {% assign performers_string = performers_string | append: event.performer.name | append: '||' %}
        {% else %}
          {% assign performers_string = performers_string | append: '0' | append: '||' %}
      {% endif %}

      {% if eventF == 0 %}
        {% assign concertsAllM = concertsAllM | plus: 1 %}
      {% endif %}

      {% assign eventAges_array = eventAges_string | split: ',' %}
      {% assign eventAgesF_array = eventAgesF_string | split: ',' %}
      {% assign eventAgesM_array = eventAgesM_string | split: ',' %}

      {% if eventAges_array.size == event.programme.size %}
        {% assign age_complete_count = age_complete_count | plus: 1 %}
        {% assign eventAgeTotal = 0 %}
        {% assign eventAgeTotalF = 0 %}
        {% assign eventAgeTotalM = 0 %}
        {% for age in eventAges_array %}
          {% assign eventAgeTotal = eventAgeTotal | plus: age %}
        {% endfor %}
        {% for age in eventAgesF_array %}
          {% assign eventAgeTotalF = eventAgeTotalF | plus: age %}
        {% endfor %}
        {% for age in eventAgesM_array %}
          {% assign eventAgeTotalM = eventAgeTotalM | plus: age %}
        {% endfor %}
        {% assign eventAgeAverage = eventAgeTotal | times: 1.0 | divided_by: eventAges_array.size %}
        {% assign eventAgeAverageF = eventAgeTotalF | times: 1.0 | divided_by: eventAgesF_array.size %}
        {% assign eventAgeAverageM = eventAgeTotalM | times: 1.0 | divided_by: eventAgesM_array.size %}
        {% assign ageAverages_string = ageAverages_string | append: eventAgeAverage | append: ',' %}
        {% assign ageAveragesF_string = ageAveragesF_string | append: eventAgeAverageF | append: ',' %}
        {% assign ageAveragesM_string = ageAveragesM_string | append: eventAgeAverageM | append: ',' %}
        {% assign eventRelativeAgeF = eventAgeAverage | minus: eventAgeAverageF %}
        {% assign eventRelativeAgeM = eventAgeAverage | minus: eventAgeAverageM %}
        {% assign relativeAgesF_string = relativeAgesF_string | append: eventRelativeAgeF | append: ',' %}
        {% assign relativeAgesM_string = relativeAgesM_string | append: eventRelativeAgeM | append: ',' %}
      {% endif %}

    {% endif %}
  {% endif %}
{% endfor %}

{% assign othersworks = worksperformed | minus: ownworks %}

{% assign worksperformedF_percent = worksperformedF | times: 100.0 | divided_by: worksperformed | append: "" | truncate: 4, '' %}
{% assign worksperformedM_percent = worksperformedM | times: 100.0 | divided_by: worksperformed | append: "" | truncate: 4, '' %}
{% assign othersF_percent = worksperformedF | times: 100.0 | divided_by: othersworks | append: "" | truncate: 4, '' %}
{% assign concertsAllM_percent = concertsAllM | times: 100.0 | divided_by: concerts | append: "" | truncate: 4, '' %}
{% assign worksperconcert =  worksperformed | times: 1.0 | divided_by: concerts | append: "" | truncate: 3, '' %}
{% assign nodata = site.categories.events.size | minus: concerts %}
{% assign relativeF = relativeF | divided_by: concerts | times: 100.0 | append: "" | truncate: 4, '' %}
{% assign relativeM = relativeM | divided_by: concerts | times: 100.0 | append: "" | truncate: 4, '' %}

{% assign ageAverages_array = ageAverages_string | split: ',' %}
{% assign ageAveragesF_array = ageAveragesF_string | split: ',' %}
{% assign ageAveragesM_array = ageAveragesM_string | split: ',' %}

{% assign ageAverages_sum = 0 %}
{% for avg in ageAverages_array %}
  {% assign ageAverages_sum = ageAverages_sum | plus: avg %}
{% endfor %}
{% assign ageAverage = ageAverages_sum | times: 1.0 | divided_by: ageAverages_array.size | append: "" | truncate: 4, '' %}

{% assign ageAveragesF_sum = 0 %}
{% for avg in ageAveragesF_array %}
  {% assign ageAveragesF_sum = ageAveragesF_sum | plus: avg %}
{% endfor %}
{% assign ageAverageF = ageAveragesF_sum | times: 1.0 | divided_by: ageAveragesF_array.size | append: "" | truncate: 4, '' %}

{% assign ageAveragesM_sum = 0 %}
{% for avg in ageAveragesM_array %}
  {% assign ageAveragesM_sum = ageAveragesM_sum | plus: avg %}
{% endfor %}
{% assign ageAverageM = ageAveragesM_sum | times: 1.0 | divided_by: ageAveragesM_array.size | append: "" | truncate: 4, '' %}

{% assign relativeAgesF_array = relativeAgesF_string | split: ',' %}
{% assign relativeAgesM_array = relativeAgesM_string | split: ',' %}

{% assign relativeAgesF_sum = 0 %}
{% for diff in relativeAgesF_array %}
  {% assign relativeAgesF_sum = relativeAgesF_sum | plus: diff %}
{% endfor %}
{% assign relativeAgeF = relativeAgesF_sum | times: 1.0 | divided_by: relativeAgesF_array.size %}

{% assign relativeAgesM_sum = 0 %}
{% for diff in relativeAgesM_array %}
  {% assign relativeAgesM_sum = relativeAgesM_sum | plus: diff %}
{% endfor %}
{% assign relativeAgeM = relativeAgesM_sum | times: 1.0 | divided_by: relativeAgesM_array.size %}

{% assign relativeF_array = relativeF_string | split: ' ' %}
{% assign fractionF_array = fractionF_string | split: ' ' %}
{% assign urls_array = urls_string | split: ' ' %}
{% assign dates_array = dates_string | split: ' ' %}
{% assign performers_array = performers_string | split: '||' %}
{% assign composers_array = composers_string | split: '||' %}
{% assign composers_total = composers_array.size %}
{% assign composersF_array = composersF_string | split: '||' %}
{% assign composersF_total = composersF_array.size %}
{% assign composersF_percent = composersF_total | times: 100.0 | divided_by: composers_total | append: "" | truncate: 4, '' %}
{% assign composersM_array = composersM_string | split: '||' %}
{% assign composersM_total = composersM_array.size %}
{% assign composersM_percent = composersM_total | times: 100.0 | divided_by: composers_total | append: "" | truncate: 4, '' %}
{% assign composers_array_verbose = composers_string_verbose | split: '||' | sort %}

{% assign workspercomposerM = worksperformedM | minus: ownworks | times: 1.0 | divided_by: composersM_total | append: "" | truncate: 4, '' %}
{% assign workspercomposerF = worksperformedF | times: 1.0 | divided_by: composersF_total | append: "" | truncate: 4, '' %}

{% assign composers_string_clean = '' %}
{% assign composers_string_count = '' %}
{% for name in composers_array_verbose %}
  {% if name == backreference %}
    {% assign localcount = localcount | plus: 1 %}
  {% else %}
    {% unless forloop.index0 == 0 %}
      {% assign composers_string_clean = composers_string_clean | append: backreference | append: '||' %}
      {% assign composers_string_count = composers_string_count | append: localcount | append: '||' %}
    {% endunless %}
    {% assign localcount = 1 %}
    {% assign backreference = name %}
  {% endif %}
{% endfor %}

{% assign composers_array_clean = composers_string_clean | split: '||' %}
{% assign composers_array_count = composers_string_count | split: '||' %}
{% endcapture %}{% assign cache = nil %}
