{% for include in page.includes %}{% case include %}
  {% when 'basics' %}
    <h4>Some basic numbers</h4>
    {% include audit_01_works.html %}
    {% include audit_03_all-male.html %}
    {% include audit_04_avg_prog.html %}
  {% when 'career' %}
    <h4 id="career">Career progression</h4>
    <p>It is often stated that there is a gradual filtering out of women at every stage of career progression: from school-age music studies, throughout academic pathways, and later in professional contexts. My data is limited, but I can compare the 4 years I was an undergraduate and masters student at the University of Manchester — when the vast majority of my performances were in student contexts and <strong>{{ worksperformedF_percent_uni }}%</strong> of works performed were by female composers — with the period since then, for which that figure is just <strong>{{ worksperformedF_percent_since }}%</strong>. That amounts to a <strong>drop in representation of {{ worksperformedF_percent_uni | minus: worksperformedF_percent_since | divided_by: worksperformedF_percent_uni | times: 100 | append: "" | truncate: 4, '' }}% in the {{ yearsSinceMasters }} years since my Masters graduation</strong>.</p>
  {% when 'overview' %}
    <h4 id="overview">An overview of all the concerts</h4>
    {% include audit_05_sparkline.html %}
    <ul>
      <li>Just {% if parity_count == 1 %}<strong>{{ parity_count }} concert</strong> (of {{ concerts }}) has{% else %}<strong>{{ parity_count }} concerts</strong> (of {{ concerts }}) have{% endif %} featured a programme where half or more of the works are by female composers.</li>
      <li>On average just <strong>{{ worksperformedF_percent }}%</strong> of works played are by female composers.</li>
    </ul>
  {% when 'frequency' %}
    <h4 id="frequency">Performance frequency</h4>
    <p>Some composers are more or less frequently performed: there seems to be a tendency for the few female composers that are performed ({{ composersF_total }} and counting) to be programmed relatively more frequently. This represents a further shrinking of the representation of female composers — the already small number of works performed come from an even smaller group of composers. Taking my own works out of the equation, works by female composers are <strong>{{ othersF_percent }}%</strong> of all works performed. Female composers on the other hand represent only <strong>{{ composersF_percent }}%</strong> of the composers programmed.</p>
    {% include audit_02_frequency.html %}
    <p>Unlike the other measures, this excludes my own performances, which of course hugely outnumber those of any other composer and distort this particular corpus of data.</p>
  {% when 'nodata' %}
    <p>There are <strong>{{ nodata }} concerts</strong> missing programme data. These are ignored entirely in the statistics above.</p>
  {% when 'jsonlink' %}
    <h4 id="jsonlink">The data</h4>
    <p>If you are code-minded and would like to play around with the event data, download the <a href="/assets/eventdata.json" type="application/ld+json">event data JSON-LD file</a>. It contains data for every event in my archive, marked up with <a href="http://schema.org/">schema.org</a> vocabularies.</p>{% unless page.url == '/audit/index.html' %}
    <p>An up-to-date summary of all the data, can always be found on <a href="{{ site.url }}/audit/">the Gender Audit page</a>.</p>{% endunless %}
  {% when 'age' %}
    <h4 id="age">Gender &amp; Age</h4>
    <p>Experience suggests that age plays a factor in gender imbalances: namely that while both genders might be represented in a specific context, women may have to work harder and longer for the same opportunities, or are delayed in career progression by various societal hurdles, and so reach equivalent career points later than their male colleagues. Unfortunately, this is very hard to quantify without more detailed research — evaluating career progression properly would be very complex.</p>

    <p>Measuring average age at time of performance is one option, but this seems to be indicative of rather little (<strong>{{ ageAverageF }}</strong> for women; <strong>{{ ageAverageM }}</strong> for men) — the average age for male composers probably skews high thanks to more performances of works by older, established composers (even more likely to be male than programmed composers in general); and perhaps the average for female composers skews low given the higher number of female composers in student contexts in this set of data (see <a href="#career">‘Career progression’</a>).</p>

    <p>To try to understand this better, one might consider the typical age differences within individual concerts. In other words, are female or male composers likely to be older or younger in comparison to the other composers on the same programme? On average, female composers are <strong>{% if relativeAgeF < 0 %}{{ relativeAgeF | times: -1 | append: "" | truncate: 4, '' }} years younger{% else %}{{ relativeAgeF | append: "" | truncate: 4, '' }} years older{% endif %}</strong> than the concert average, with male composers <strong>{% if relativeAgeM < 0 %}{{ relativeAgeM | times: -1 | append: "" | truncate: 4, '' }} years younger{% else %}{{ relativeAgeM | append: "" | truncate: 4, '' }} years older{% endif %}</strong>. Again, I’d suggest the data is currently insufficient: just {{ age_complete_count }} of {{ concerts}} concerts are being taken into account here with complete age data; and the sample is too biased to provide any insights.</p>
{% endcase %}{% endfor %}
