{% assign concerts = site.events.size %}
{% assign concertsAllM = 0 %}
{% assign worksperformed = 0 %}
{% assign worksperformedF = 0 %}
{% assign worksperformedM = 0 %}
{% assign earliestYear = site.time | date: '%Y' %}

{% for event in site.events %}
  {% if event.programme %}
    {% assign hasF = false %}
    {% for item in event.programme %}
      {% capture worksperformed %}{{ worksperformed | plus: 1 }}{% endcapture %}
      {% if item.gender == 'F' %}
        {% capture worksperformedF %}{{ worksperformedF | plus: 1 }}{% endcapture %}
        {% assign hasF = true %}
      {% elsif item.gender == 'M' %}
        {% capture worksperformedM %}{{ worksperformedM | plus: 1 }}{% endcapture %}
      {% else %}
        <p>No gender entered: {{ item.composer }} — {{ item.work }}</p>
      {% endif %}
    {% endfor %}
    {% if hasF == false %}
      {% capture concertsAllM %}{{ concertsAllM | plus: 1 }}{% endcapture %}
    {% endif %}
  {% endif %}
  {% if event.date %}
    {% assign eventyear = event.date | date: '%Y' %}
    {% if eventyear < earliestYear %}
      {% assign earliestYear = eventyear %}
    {% endif %}
  {% endif %}
{% endfor %}

{% capture worksperformedF_percent %}{{ worksperformedF | times: 100.0 | divided_by: worksperformed | append: "" | truncate: 4, '' }}{% endcapture %}
{% capture worksperformedM_percent %}{{ worksperformedM | times: 100.0 | divided_by: worksperformed | append: "" | truncate: 4, '' }}{% endcapture %}
{% capture concertsAllM_percent %}{{ concertsAllM | times: 100.0 | divided_by: concerts | append: "" | truncate: 4, '' }}{% endcapture %}


{% comment %}
  === AVAILABLE DATA TAGS ===
* {{ concerts }}                — the total number of concerts
* {{ concertsAllM }}            — the number of all-male concert programmes
* {{ concertsAllM_percent }}    — the percentage of concert programmes that are all male
* {{ earliestYear }}            — the earliest year an event occurred
* {{ worksperformed }}          — the total number of works performed
* {{ worksperformedF }}         — the total number of works by women performed
* {{ worksperformedF_percent }} — the percentage of works performed by women
* {{ worksperformedM }}         — the total number of works by men performed
* {{ worksperformedM_percent }} — the percentage of works performed by men
{% endcomment %}

<h3>Since {{ earliestYear }} (when my records began)</h3>
<ul>
  <li>Total number of concerts: {{ concerts }}</li>
  <li>Total number of works programmed: {{ worksperformed }}</li>
</ul>

<h4>Gender breakdown of composers of works performed</h4>
<ul class="chartlist">
  <li>
    <span class="label">Works by male composers</span>
    <span class="count">{{ worksperformedM }}</span>
    <span class="percentage"style="width: {{ worksperformedM_percent }}%;">({{ worksperformedM_percent }}%)</span>
  </li>
  <li>
    <span class="label">Works by female composers</span>
    <span class="count">{{ worksperformedF }}</span>
    <span class="percentage" style="width: {{ worksperformedF_percent }}%;">({{ worksperformedF_percent }}%)</span>
  </li>
</ul>

<h4>Number of all-male concert programmes</h4>
<ul class="chartlist">
  <li>
    <span class="label">All-male programmes</span>
    <span class="count">{{ concertsAllM }}</span>
    <span class="percentage"style="width: {{ concertsAllM_percent }}%;">({{ concertsAllM_percent }}%)</span>
  </li>
</ul>
