{% comment %}
INITIALISE VARIABLES
{% endcomment %}
{% assign concerts = site.events.size %}
{% assign concertsAllM = 0 %}
{% assign worksperformed = 0 %}
{% assign worksperformedF = 0 %}
{% assign worksperformedM = 0 %}
{% assign relativeF = 0 %}
{% assign relativeM = 0 %}
{% assign relativeF_string = '' %}
{% assign earliestYear = site.time | date: '%Y' %}

{% comment %}
PROCESS EVENT DATA
{% endcomment %}
{% for event in site.events %}
  {% if event.programme %}

    {% assign eventworks = 0 %}
    {% assign eventF = 0 %}
    {% assign eventM = 0 %}

    {% for item in event.programme %}
      {% assign eventworks = eventworks | plus: 1 %}
      {% if item.gender == 'F' %}
        {% assign eventF = eventF | plus: 1 %}
      {% elsif item.gender == 'M' %}
        {% assign eventM = eventM | plus: 1 %}
      {% else %}
        <p>No gender entered: {{ item.composer }} — {{ item.work }}</p>
      {% endif %}
    {% endfor %}

    {% assign worksperformed = worksperformed | plus: eventworks %}
    {% assign worksperformedF = worksperformedF | plus: eventF %}
    {% assign worksperformedM = worksperformedM | plus: eventM %}
      {% capture concertsAllM %}{{ concertsAllM | plus: 1 }}{% endcapture %}

    {% assign event_relativeF = eventF | times: 1.00 | divided_by: eventworks %}
    {% assign relativeF = relativeF | plus: event_relativeF %}
    {% assign event_relativeM = eventM | times: 1.00 | divided_by: eventworks %}
    {% assign relativeM = relativeM | plus: event_relativeM %}

    {% assign relativeF_string = relativeF_string | append: event_relativeF | append: ' ' %}
    {% endif %}
  {% endif %}
  {% if event.date %}
    {% assign eventyear = event.date | date: '%Y' %}
    {% if eventyear < earliestYear %}
      {% assign earliestYear = eventyear %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign worksperformedF_percent = worksperformedF | times: 100.0 | divided_by: worksperformed | append: "" | truncate: 4, '' %}
{% assign worksperformedM_percent = worksperformedM | times: 100.0 | divided_by: worksperformed | append: "" | truncate: 4, '' %}
{% assign concertsAllM_percent = concertsAllM | times: 100.0 | divided_by: concerts | append: "" | truncate: 4, '' %}


{% comment %}
  === AVAILABLE DATA TAGS ===
* {{ concerts }}                — the total number of concerts
* {{ concertsAllM }}            — the number of all-male concert programmes
* {{ concertsAllM_percent }}    — the percentage of concert programmes that are all male
* {{ earliestYear }}            — the earliest year an event occurred
* {{ worksperformed }}          — the total number of works performed
* {{ worksperformedF }}         — the total number of works by women performed
* {{ worksperformedF_percent }} — the percentage of works performed by women
* {{ worksperformedM }}         — the total number of works by men performed
* {{ worksperformedM_percent }} — the percentage of works performed by men
{% endcomment %}

<h3>Since {{ earliestYear }} (when my records began)</h3>

<h4>Gender breakdown of composers of works performed</h4>
<p>Total number of works programmed: {{ worksperformed }}</p>
<ul class="chartlist">
  <li>
    <span class="label">Works by male composers</span>
    <span class="value">{{ worksperformedM }} ({{ worksperformedM_percent }}%)</span>
    <span class="percentage"style="width: {{ worksperformedM_percent }}%;"></span>
  </li>
  <li>
    <span class="label">Works by female composers</span>
    <span class="value">{{ worksperformedF }} ({{ worksperformedF_percent }}%)</span>
    <span class="percentage" style="width: {{ worksperformedF_percent }}%;"></span>
  </li>
</ul>

<h4>Number of all-male concert programmes</h4>
<p>Total number of concerts: {{ concerts }}</p>
<ul class="chartlist">
  <li>
    <span class="label">All-male programmes</span>
    <span class="value">{{ concertsAllM }} ({{ concertsAllM_percent }}%)</span>
    <span class="percentage"style="width: {{ concertsAllM_percent }}%;"></span>
  </li>
</ul>
