<figure>
  <ul class="chart chartlist">
    <li class="legend">
      <span class="label">Number of concerts</span><span class="separator"> — </span>
      <span class="value">Total: {{ concerts }}</span>
    </li>
    <li>
      <span class="label">All-male programmes</span><span class="separator">:</span>
      <span class="value">{{ concertsAllM }} ({{ concertsAllM_percent }}%)</span>
      <span class="percentage" style="width: {{ concertsAllM_percent }}%;"></span>
    </li>
  </ul>
  <figcaption>All-male concert programmes</figcaption>
</figure>
