{% capture cache %}{% assign now = site.time | date: '%Y%m%d' %}
{% assign eventdate = event.date | append: '' %}
{% if eventdate.size == 10 %}
    {% assign then = eventdate | append: ' 20:00' | date: '%Y%m%d' %}
  {% else %}
    {% assign then = eventdate | date: '%Y%m%d' %}
{% endif %}
{% if event.enddate %}
  {% assign enddate = event.enddate | append: '' %}
{% endif %}
{% assign test = false %}
{% if include.scope == 'past' %}
    {% if then < now %}{% assign test = true %}{% endif %}
  {% elsif include.scope == 'future' %}
    {% if then >= now %}{% assign test = true %}{% endif %}
{% endif %}
{% if include.context %}
    {% assign context = include.context %}
  {% else %}
    {% assign context = 'main' %}
{% endif %}{% endcapture %}{% assign cache = nil %}{% if test %}
  <li class="event-card clearfix{% if postcount == 0 %} first{% endif %}">
    {% if context == 'aside' %}<h4>{% else %}<h3>{% endif %}{% if event.works.size == 1 %}{% assign headline = event.works[0] %}{% else %}
        {% assign headline = event.title %}{% endif %}
      <a href="{{ event.url }}" title="{{ headline | strip_html }}">{{ headline }}</a>
    {% if context == 'aside' %}</h4>{% else %}</h3>{% endif %}
    <a href="{{ event.url }}"><time datetime="{{ eventdate | date_to_xmlschema }}" class="eventdate">
      <span class="m">{% assign m = eventdate | date: "%-m" %}{% case m %}{% when '5' or '6' or '7' %}{{ eventdate | date: "%B" }}{% else %}{{ eventdate | date: "%b" }}.{% endcase %}</span>
      <span class="d">{{ eventdate | date: "%-d" }}</span><span class="visuallyhidden">,</span>
      <span class="y">{{ eventdate | date: "%Y" }}</span>
    </time></a>{% if event.performer or event.venue %}
    <p>{% if event.performer %}
      <span class="performer">{% if event.performer.url %}
        <a href="{{ event.performer.url }}">{{ event.performer.name }}</a>{% else %}
        {{ event.performer.name }}{% endif %}
      </span>{% endif %}{% if event.venue %}
      <br/>
      <span class="venue">{% if event.venue.url %}
        <span class="name"><a href="{{ event.venue.url }}">{{ event.venue.name }}</a></span>{% else %}
        <span class="name">{{ event.venue.name }}</span>{% endif %}{% if event.venue.shortaddress %}{% if event.venue.name %}, {% endif %}<span class="address">{{ event.venue.shortaddress }}</span>{% endif %}
      </span>{% endif %}
    </p>{% endif %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "MusicEvent",
        "name": "{{ headline | strip_html }}",
        "url": "{{ site.url }}{{ event.url }}",{% if event.facebook %}
        "sameAs": "{{ event.facebook }}",{% endif %}
        "startDate": "{{ eventdate | date_to_xmlschema }}",{% if event.enddate %}
        "endDate": "{{ enddate | date_to_xmlschema }}",{% endif %}
        {% if event.performer %}"performer": {
          "@type": "{% if event.performertype %}{{ event.performertype }}{% else %}MusicGroup{% endif %}",
          "name": "{{ event.performer.name }}"{% if event.performer.url %},
          "sameAs": "{{ event.performer.url }}"{% endif %}
        },{% endif %}{% if event.programme %}
        "workPerformed": [{% for item in event.programme %}
         {
          "@type": "MusicComposition",{% if item.work %}
          "name": "{{ item.work }}",{% endif %}
          "composer": {
            "@type": "Person",
            "name": "{{ item.composer }}",
            "gender": "{{ item.gender }}"{% if site.data.composers.[item.composer].sameAs %},
            "sameAs": "{{ site.data.composers.[item.composer].sameAs }}"{% endif %}{% if site.data.composers.[item.composer].birthDate %},
            "birthDate": "{{ site.data.composers.[item.composer].birthDate }}"{% endif %}{% if site.data.composers.[item.composer].nationality %},
            "nationality": {% if site.data.composers.[item.composer].nationality.size > 1 %}[{% for nationality in site.data.composers.[item.composer].nationality %}"{{ nationality }}"{% unless forloop.last %},{% endunless %}{% endfor %}]{% else %}"{{ site.data.composers.[item.composer].nationality }}"{% endif %}{% endif %}
          }
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}],{% elsif event.works %}
        "workPerformed": [{% for work in event.works %}
          {
            "@type": "MusicComposition",{% for post in site.categories.music %}{% if post.title == work %}
            "sameAs": "{{ post.url }}",{% endif %}{% endfor %}
            "name": "{{ work }}",
            "composer": "http://www.chrisswithinbank.net/"
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}],{% endif %}
        "location": {
          "@type": "{% if event.locationtype %}{{ event.locationtype }}{% else %}MusicVenue{% endif %}",
          "name": "{{ event.venue.name }}",
          "address": "{{ event.venue.address }}"{% if event.venue.url %},
          "sameAs": "{{ event.venue.url }}"{% endif %}
        }
      }
    </script>
  </li>{% assign postcount = postcount | plus: 1 %}{% endif %}
