{% capture cache %}{% assign now = site.time | date: '%Y%m%d' %}
{% assign eventdate = event.date | append: '' %}
{% if eventdate.size == 10 %}
    {% assign then = eventdate | append: ' 20:00' | date: '%Y%m%d' %}
  {% else %}
    {% assign then = eventdate | date: '%Y%m%d' %}
{% endif %}
{% if event.enddate %}
  {% assign enddate = event.enddate | append: '' %}
{% endif %}
{% assign test = false %}
{% if include.scope == 'past' %}
    {% if then < now %}{% assign test = true %}{% endif %}
  {% elsif include.scope == 'future' %}
    {% if then >= now %}{% assign test = true %}{% endif %}
{% endif %}{% endcapture %}{% assign cache = nil %}{% if test %}
  <li{% if postcount == 0 %} class="first"{% endif %}>
    <h3>{% if event.works.size == 1 %}{% assign headline = event.works[0] %}{% else %}
        {% assign headline = event.title %}{% endif %}
      <a href="{{ event.url }}" title="{{ headline | strip_html }}">{{ headline }}</a>
    </h3>
    <p>{{ eventdate | date: "%-d %B %Y, %k:%M" }}</p>{% if event.performer %}
    <p class="performer">{% if event.performer.url %}
      <a href="{{ event.performer.url }}">{{ event.performer.name }}</a>{% else %}
      {{ event.performer.name }}{% endif %}
    </p>{% endif %}{% if event.venue %}
    <p class="venue">{% if event.venue.url %}
      <span class="name"><a href="{{ event.venue.url }}">{{ event.venue.name }}</a></span>{% else %}
      <span class="name">{{ event.venue.name }}</dt>{% endif %}{% if event.venue.address %}
      <br /><span class="address">{{ event.venue.address }}</span>{% endif %}
    </p>{% endif %}
  </li>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "MusicEvent",
      "name": "{{ headline | strip_html }}",
      "url": "{{ site.url }}{{ event.url }}",{% if event.facebook %}
      "sameAs": "{{ event.facebook }}",{% endif %}
      "startDate": "{{ eventdate | date_to_xmlschema }}",{% if event.enddate %}
      "endDate": "{{ enddate | date_to_xmlschema }}",{% endif %}
      {% if event.performer %}"performer": {
        "@type": "{% if event.performertype %}{{ event.performertype }}{% else %}MusicGroup{% endif %}",
        "name": "{{ event.performer.name }}"{% if event.performer.url %},
        "sameAs": "{{ event.performer.url }}"{% endif %}
      },{% endif %}{% if event.programme %}
      "workPerformed": [{% for item in event.programme %}
       {
        "@type": "MusicComposition",{% if item.work %}
        "name": "{{ item.work }}",{% endif %}
        "composer": {
          "@type": "Person",
          "name": "{{ item.composer }}",
          "gender": "{{ item.gender }}"{% if site.data.composers.[item.composer].sameAs %},
          "sameAs": "{{ site.data.composers.[item.composer].sameAs }}"{% endif %}{% if site.data.composers.[item.composer].birthDate %},
          "birthDate": "{{ site.data.composers.[item.composer].birthDate }}"{% endif %}{% if site.data.composers.[item.composer].nationality %},
          "nationality": {% if site.data.composers.[item.composer].nationality.size > 1 %}[{% for nationality in site.data.composers.[item.composer].nationality %}"{{ nationality }}"{% unless forloop.last %},{% endunless %}{% endfor %}]{% else %}"{{ site.data.composers.[item.composer].nationality }}"{% endif %}{% endif %}
        }
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}],{% elsif event.works %}
      "workPerformed": [{% for work in event.works %}
        {
          "@type": "MusicComposition",{% for post in site.categories.music %}{% if post.title == work %}
          "sameAs": "{{ post.url }}",{% endif %}{% endfor %}
          "name": "{{ work }}",
          "composer": "http://www.chrisswithinbank.net/"
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}],{% endif %}
      "location": {
        "@type": "{% if event.locationtype %}{{ event.locationtype }}{% else %}MusicVenue{% endif %}",
        "name": "{{ event.venue.name }}",
        "address": "{{ event.venue.address }}"{% if event.venue.url %},
        "sameAs": "{{ event.venue.url }}"{% endif %}
      }
    }
  </script>{% assign postcount = postcount | plus: 1 %}{% endif %}
