{% capture cache %}{% assign now = site.time | date: '%Y%m%d' %}
{% assign eventurl = nil %}
{% assign eventdate = event.date | append: '' %}
{% if eventdate.size == 10 %}
    {% assign then = eventdate | append: ' 20:00' | date: '%Y%m%d' %}
  {% else %}
    {% assign then = eventdate | date: '%Y%m%d' %}
{% endif %}
{% if event.enddate %}
  {% assign enddate = event.enddate | append: '' %}
{% endif %}
{% assign test = false %}
{% if include.scope == 'past' %}
    {% if then < now %}{% assign test = true %}{% endif %}
  {% elsif include.scope == 'future' %}
    {% if then >= now %}{% assign test = true %}{% endif %}
{% endif %}
{% if include.context %}
    {% assign context = include.context %}
  {% else %}
    {% assign context = 'main' %}
{% endif %}{% endcapture %}{% assign cache = nil %}{% if test %}
{% if include.scope == 'past' %}
  {% assign datetest = eventdate | date: '%Y' %}
  {% unless yeartracker == datetest %}
    {% unless yeartracker == 0 %}
    </ul>
    {% endunless %}
    <h3>{{ eventdate | date: '%Y' }}</h3>
    <ul class="datalist clearfix">
  {% endunless %}
  {% assign yeartracker = eventdate | date: '%Y' %}
  {% endif %}{% if context == 'aside' %}{% if limitcount == eventlimit %}{% break %}
  {% else %}{% assign limitcount = limitcount | plus: 1 %}{% endif %}{% endif %}
<li class="event-card clearfix{% if postcount == 0 %} first{% endif %}">
    <h4>{% capture cache %}
      {% assign linkclass = nil %}
      {% if event.works.size == 1 %}
        {% assign headline = event.works[0] %}
        {% for post in site.categories.music %}
          {% if post.title == headline %}
            {% assign eventurl = post.url %}{% if post.size %}
            {% assign linkclass = post.size %}{% endif %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% assign headline = event.title %}
        {% assign eventurl = event.url %}
    {% endif %}{% endcapture %}{% assign cache = nil %}{% if eventurl %}
      <a href="{{ eventurl }}"{% if linkclass %} class="{{ linkclass }}"{% endif %}>{{ headline }}</a>{% else %}
      {{ headline }}{% endif %}
    </h4>
    <a href="{{ event.url }}"><time datetime="{{ eventdate | date_to_xmlschema | truncate: 19, '' }}" class="eventdate">
      <span class="m">{% assign m = eventdate | date: "%-m" %}{% case m %}{% when '5' or '6' or '7' %}{{ eventdate | date: "%B" }}{% else %}{{ eventdate | date: "%b" }}.{% endcase %}</span>
      <span class="d">{{ eventdate | date: "%-d" }}</span><span class="visuallyhidden">,</span>
      <span class="y">{{ eventdate | date: "%Y" }}</span>
    </time></a>{% if event.performer or event.venue %}
    <p>{% if event.performer %}
      <span class="performer">{% if event.performer.url %}
        <a href="{{ event.performer.url }}">{{ event.performer.name }}</a>{% else %}
        {{ event.performer.name }}{% endif %}
      </span><br/>{% endif %}{% if event.venue %}
      <span class="venue">{% if event.venue.url %}
        <span class="name"><a href="{{ event.venue.url }}">{{ event.venue.name }}</a></span>{% else %}
        <span class="name">{{ event.venue.name }}</span>{% endif %}{% if event.venue.shortaddress %}{% if event.venue.name %}, {% endif %}<span class="address">{{ event.venue.shortaddress }}</span>{% endif %}
      </span>{% endif %}
    </p>{% endif %}
    {% include events_json-ld.html %}
  </li>{% assign postcount = postcount | plus: 1 %}{% endif %}
