<script>
  function now() { return new Date().getTime() }
  var loadTime, hideTime, cid, runningDuration, referrer;
  function init(ref) {
    loadTime = now();
    if (hideTime && (loadTime - hideTime) < 300000) return;
    if (ref === undefined) ref = window.location.pathname
    referrer = ref;
    cid = Math.floor(1e8 * Math.random()) + 1;
    runningDuration = 0;
  }
  init(document.referrer);

  function onHide() {
    hideTime = now();
    runningDuration += hideTime - loadTime;
    ping();
  }

  function ms2s(ms) { return Math.round(ms / 1000) }
  function url() {
    var u = '/.netlify/functions/counter?&referrer=' + encodeURIComponent(referrer) + '&cid=' + cid + '&duration=' + ms2s(runningDuration);
    if (window.is404) u += '&is404=true';
    return u;
  }

  var blockTracking;
  try {
    blockTracking = window.localStorage && window.localStorage.getItem('blockCustomAnalyticsTracking');
  } catch (err) {}

  function pageview() {
    if (blockTracking) return;
    var img = document.createElement('img');
    img.setAttribute('alt', '');
    img.setAttribute('aria-hidden', 'true');
    img.style.position = 'absolute';
    img.src = url();
    img.addEventListener('load', function () {
      img.parentNode.removeChild(img);
    });
    img.addEventListener('error', function () {
      img.parentNode.removeChild(img);
    });
    document.body.appendChild(img);
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', pageview);
  } else {
    pageview();
  }

  function ping() {
    if (blockTracking) return;
    var hasPinged;
    if (navigator.sendBeacon) hasPinged = navigator.sendBeacon(url());
    if (!hasPinged) pageview();
  }

  document.addEventListener('visibilitychange', function () {
    document.visibilityState === 'hidden' ? onHide() : init();
  });
  document.addEventListener('pagehide', onHide);
  document.addEventListener('pageshow', init);
</script>
<script src="https://teacher-electrifying.chrisswithinbank.net/script.js" data-site="VMCRJFXS" defer></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-515442-5', 'auto');
  ga('send', 'pageview');

</script>
