{% assign workhasperformances = null %}
{% for event in site.events %}
  {% if workhasperformances %}
    {% break %}
  {% endif %}
  {% if event.works contains page.title %}
    {% assign workhasperformances = 1 %}
  {% endif %}
{% endfor %}

{% if workhasperformances %}

  <h3>Performances</h3>
  <ul class="datalist">
    {% for event in site.events reversed %}{% if event.works contains page.title %}
        <li>{{ event.date | date_to_long_string }}, <a href="{{ event.performer.url }}">{{ event.performer.name }}</a>, <a href="{{ event.venue.url }}">{{ event.venue.name }}</a></li>
    {% endif %}{% endfor %}
  </ul>

{% endif %}
