<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title == 'Home' %}
      {{ site.name }}, composer{% unless paginator.page == 1 %} - part {{ paginator.page }}{% endunless %}{% else %}
      {{ page.title | strip_html }}{% if page.subtitle %}: {{ page.subtitle | strip_html }}{% endif %}{% if page.categories.first == 'music' or page.categories.first ==  'text' or page.categories.first ==  'events' %} | {{ page.categories | first | capitalize }}{% endif %} | {{ site.name }}{% endif %}
    </title>
    <meta name="description" content="{% if page.digest %}{{ page.digest | strip_html }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncate: 159, '…' }}{% else %}{{ site.description }}{% endif %}">{% if page.tags %}
    <meta name="keywords" content="{% for tag in page.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="http://delucis.github.io/feed.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed of Chris Swithinbank’s latest posts">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  </head>
  {% capture bodyclass %}{% if page.categories %}{% for cat in page.categories %}{{ cat }} {% endfor %}{% elsif page.category %}{{ page.category }} {% endif %}{% for tag in page.tags %}{{ tag | slugify }}{% unless forloop.last %} {% endunless %}{% endfor %}{% endcapture %}<body{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="page">
      <header class="site-header js-header clearfix" role="banner">
        <h1 class="site-title">
          <a href="{% if page.url == '/index.html' %}#{% else %}/{% endif %}"><span class="fname">Chris </span><span class="lname">Swithinbank</span></a>
        </h1>
        <nav id="menu" class="menu js-menu" role="navigation">
          <ul>{% for item in site.data.menu %}
            <li><a href="{{ item.slug }}">{{ item.label }}</a></li>{% endfor %}
          </ul>
        </nav>
      </header>
      <div class="wrapper">
        <main class="container clearfix hyphenate" role="main">
