        </main><!-- /.container -->
        <footer class="site-footer">
          <dl>
            <dt>Elsewhere</dt>
            {% for item in site.data.footer %}
              {% assign linkstart = item.href | truncate: 7, '' %}
              <dd><a href="{{ item.href }}"{% unless linkstart == 'mailto:' %} target="_blank" rel="me"{% endunless %}{% if item.icon %} class="icon {{ item.icon }}"{% endif %}>{{ item.label }}</a></dd>
            {% endfor %}
          </dl>
        </footer>
      </div><!-- /.wrapper -->
    </div><!-- /#page -->
    <script type="text/javascript" src="/js/main.js" async></script>
    <script type="text/javascript" src="/js/hyphenator.js" async></script>
    <script type="text/javascript" src="/js/hyphenator_loader.js" async></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js" async></script>
    {% if content contains 'fnref' %}
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      $.ajaxSetup({ cache: true });
      $.getScript("/js/bigfoot.min.js", function(){ $.bigfoot() });
    </script>{% endif %}
  </body>
</html>
