        </main><!-- /.container -->
        <footer class="site-footer">
          <dl>
            <dt>Elsewhere</dt>
            {% for item in site.data.footer %}
              {% assign linkstart = item.href | truncate: 7, '' %}
              <dd><a href="{{ item.href }}"{% unless linkstart == 'mailto:' %} target="_blank" rel="me"{% endunless %}{% if item.icon %} class="icon {{ item.icon }}"{% endif %}>{{ item.label }}</a></dd>
            {% endfor %}
          </dl>
        </footer>
      </div><!-- /.wrapper -->
    </div><!-- /#page -->
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/hyphenator.js"></script>
    <script type="text/javascript" src="/js/hyphenator_loader.js"></script>
    {% if content contains 'fnref' %}
      <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="/js/bigfoot.min.js"></script>
      <script type="text/javascript">
          $.bigfoot();
      </script>
    {% endif %}
  </body>
</html>
