<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}{% if page.categories %} > {{ page.categories | first | capitalize }}{% endif %}{% if page.title == site.name %}, composer {% else %} > {{ site.name }}{% endif %}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body class=" ">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="page">
      <header class="site-header js-header" role="banner">
        <h1 class="site-title">
          {% if page.url == '/index.html' %}
            {{ site.name }}
          {% else %}
            <a href="/">{{ site.name }}</a>
          {% endif %}
        </h1>
        <nav id="menu" class="menu js-menu" role="navigation">
            <ul>
              {% for item in site.data.menu %}
                <li><a href="{{ item.slug }}">{{ item.label }}</a></li>
              {% endfor %}
            </ul>
        </nav>
      </header>
      <div class="container hyphenate" role="main">
