{% if include.url %}
  <div plangular="{{ include.url }}">
    {% raw %}
      <!-- track image with track title as alt text -->
      <img ng-src="{{ track.artwork_url  }}" alt="{{ track.title }}" />
      <h3>
        <!-- username linked to user’s soundcloud page -->
        <a href="{{track.user.permalink_url}}" target="_blank">{{track.user.username}}</a>
        <br/>
        <!-- track title linked to track’s soundcloud page -->
        <strong><a href="{{track.permalink_url}}" target="_blank">{{track.title}}</a></strong>
      </h3>
      <p>
        <!-- play/pause buttons -->
        <button ng-click="play()">Play</button>
        <button ng-click="pause()">Pause</button>
        <!-- current position indication text -->
        <small>{{ currentTime | hhmmss }} | {{ track.duration / 1000 | hhmmss }}</small>
        <br/>
        <!-- attribution link to track’s soundcloud page -->
        <a ng-href="{{track.permalink_url}}">View on SoundCloud</a>
      </p>
    {% endraw %}
  </div>
{% endif %}
