/* ==========================================================================
   SASS variables
   ========================================================================== */
/* MEDIA-QUERY BREAKPOINTS */
$bp-small: 30em;
$bp-medium: 45em;
$bp-large: 60em;
$bp-xlarge: 70em;
/* FONTS */
$body-font: Alegreya, serif;
$display-font: Infini, Optima, sans-serif;
/* BASE FONT SIZES */
$fs-base:  1.125em;        // 1.125  * 16px = 18px
$fs-sbp:   1.25em;         // 1.25   * 16px = 20px
$fs-mbp:   1.3125em;       // 1.3125 * 16px = 21px
/* BASE LINE SPACING */
$lh-base:  1.6666666666em; // base: 30px; sbp: 33.3…px; mbp: 35px
/* HEADINGS */
$fs-h4:    1.2222222222em; // base: 22px; sbp: 24.4…px; mbp: 25.6…px
$fs-h3:    1.3888888888em; // base: 25px; sbp: 27.7…px; mbp: 29.16…px
$fs-h2:    1.7222222222em; // base: 31px; sbp: 34.4…px; mbp: 36.16…px
$fs-h1:    1.5em;          // base: 27px; sbp: 30px;    mbp: 31.5px
/* SECONDARY SCALE */
$fs-small: 0.8333333333em; // base: 15px; sbp: 16.6…px; mbp: 17.5px
$fs-s-h4:  1.2em;          // base: 18px; sbp: 19.9…px; mbp: 21px
$fs-s-h3:  1em;            // base: 15px; sbp: 16.6…px; mbp: 17.5px
/* LINE HEIGHTS */
$lh-p:      $lh-base;
$lh-h4:     ($lh-base / $fs-h4) * 1em;
$lh-h3:     ($lh-base / $fs-h3) * 1em;
$lh-h2:     ($lh-base / $fs-h2) * 1em;
$lh-h1:     ($lh-base / $fs-h1) * 1em;
$lh-s-base: ($lh-base / $fs-small) * 1;
$lh-small:  ($lh-base / $fs-small) * 1em;
$lh-s-h4:   ($lh-s-base / $fs-s-h4) / (($lh-s-base / $fs-s-h4) * 0 + 1) * 1em;
$lh-s-h3:   ($lh-s-base / $fs-s-h3) / (($lh-s-base / $fs-s-h3) * 0 + 1) * 1em;
/* COLOURS */
$text-dark: rgb(51, 73, 76);
$text-light: rgb(153, 153, 153);
$link: rgb(31, 108, 180);
$link-hover: rgb(255, 65, 54);
$link-underline: rgb(180,227,234);
$bg-light: rgb(250,252,249);
$bg-dark: $text-dark;
$light-outline: rgb(204, 204, 204);
$chart-color: rgb(133, 212, 242);
$chart-hover: rgb(239, 239, 239);
// $chart-color-light: #B8E4F5;
/* MENU STYLING */
$menu-item-count: 5;
$menu-text: $bg-light;
$menu-highlight: $text-dark;
$menu-button: $text-dark;
/* ==========================================================================
   SASS mixins
   ========================================================================== */
@mixin smallbp {
  @media only screen and (min-width: #{$bp-small}) {
    @content;
  }
}
@mixin mediumbp {
  @media only screen and (min-width: #{$bp-medium}) {
    @content;
  }
}
@mixin largebp {
  @media only screen and (min-width: #{$bp-large}) {
    @content;
  }
}
@mixin xlargebp {
  @media only screen and (min-width: #{$bp-xlarge}) {
    @content;
  }
}
@mixin hyphens($setting) {
  -webkit-hyphens: $setting;
  -moz-hyphens: $setting;
  -ms-hyphens: $setting;
  hyphens: $setting;
}

@mixin liningnums {
  -webkit-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings:"lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
