/* ==========================================================================
   SASS variables
   ========================================================================== */
/* MEDIA-QUERY BREAKPOINTS */
$bp-tiny: 22.5em;
$bp-small: 30em;
$bp-medium: 45em;
$bp-large: 60em;
$bp-xlarge: 70em;
/* FONTS */
$body-font: Alegreya, TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
$display-font: Infini, Optima, sans-serif;
$code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
/* BASE FONT SIZES */
$fs-base:  1.125em;        // 1.125  * 16px = 18px
$fs-sbp:   1.25em;         // 1.25   * 16px = 20px
$fs-mbp:   1.3125em;       // 1.3125 * 16px = 21px
/* BASE LINE SPACING */
$lh-base:  1.6666666666em; // base: 30px; sbp: 33.3…px; mbp: 35px
/* HEADINGS */
$fs-h4:    1.2222222222em; // base: 22px; sbp: 24.4…px; mbp: 25.6…px
$fs-h3:    1.3888888888em; // base: 25px; sbp: 27.7…px; mbp: 29.16…px
$fs-h2:    1.7222222222em; // base: 31px; sbp: 34.4…px; mbp: 36.16…px
$fs-h1:    1.5em;          // base: 27px; sbp: 30px;    mbp: 31.5px
/* SECONDARY SCALE */
$fs-small: 0.8333333333em; // base: 15px; sbp: 16.6…px; mbp: 17.5px
$fs-s-h4:  1.2em;          // base: 18px; sbp: 19.9…px; mbp: 21px
$fs-s-h3:  1em;            // base: 15px; sbp: 16.6…px; mbp: 17.5px
/* EXTRA SMALL TYPE */
$fs-meta:  0.6666666666em; // base: 12px; sbp: 13.3…px; mbp: 24px
/* EXTRA BIG TYPE */
$fs-big:   2em;            // base: 36px; sbp: 40px;    mbp: 42px
/* LINE HEIGHTS */
$lh-p:      $lh-base;
$lh-meta:   ($lh-base / $fs-meta) * 1em;
$lh-big:    ($lh-base / $fs-big) * 2em;
$lh-h4:     ($lh-base / $fs-h4) * 1em;
$lh-h3:     ($lh-base / $fs-h3) * 1em;
$lh-h2:     ($lh-base / $fs-h2) * 1em;
$lh-h1:     ($lh-base / $fs-h1) * 1em;
$lh-s-base: ($lh-base / $fs-small) * 1;
$lh-small:  ($lh-base / $fs-small) * 1em;
$lh-s-h4:   ($lh-s-base / $fs-s-h4) / (($lh-s-base / $fs-s-h4) * 0 + 1) * 1em;
$lh-s-h3:   ($lh-s-base / $fs-s-h3) / (($lh-s-base / $fs-s-h3) * 0 + 1) * 1em;
/* COLOURS */
$text-dark: rgb(51, 73, 76);
$text-light: rgba($text-dark, 0.6);
$link: rgb(31, 108, 180);
$link-hover: rgb(255, 65, 54);
$link-underline: rgb(180,227,234);
$bg-light: rgb(250,252,249);
$bg-dark: $text-dark;
$bg-shade: rgb(247, 249, 246);
$light-outline: rgba($text-dark, 0.15);
$chart-color: rgb(133, 212, 242);
$chart-hover: rgb(239, 239, 239);
// $chart-color-light: #B8E4F5;
/* MENU STYLING */
$menu-item-count: 6;
$menu-text: $bg-light;
$menu-highlight: $text-dark;
$menu-button: $text-dark;
/* INSTRUMENTATION COLOUR CODING */
$tape: rgb(207,183,237);
$solo: rgb(237,182,182);
$chamber: $link-underline;
$ensemble: rgb(237,231,182);
$orchestra: rgb(183,237,191);
$sizes: (chamber, $chamber), (solo, $solo), (ensemble, $ensemble), (tape, $tape), (orchestra, $orchestra);
/* ==========================================================================
   SASS mixins
   ========================================================================== */
@mixin tinybp {
 @media only screen and (min-width: #{$bp-tiny}) {
   @content;
 }
}
@mixin smallbp {
  @media only screen and (min-width: #{$bp-small}) {
    @content;
  }
}
@mixin mediumbp {
  @media only screen and (min-width: #{$bp-medium}) {
    @content;
  }
}
@mixin largebp {
  @media only screen and (min-width: #{$bp-large}) {
    @content;
  }
}
@mixin xlargebp {
  @media only screen and (min-width: #{$bp-xlarge}) {
    @content;
  }
}
@mixin hyphens($setting) {
  -webkit-hyphens: $setting;
  -moz-hyphens: $setting;
  -ms-hyphens: $setting;
  hyphens: $setting;
}

@mixin liningnums {
  -webkit-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings:"lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

@mixin ligaturesOff {
  -moz-font-feature-settings:"liga" 0, "dlig" 0, "hlig" 0, "clig" 0;
  -ms-font-feature-settings:"liga" 0, "dlig" 0, "hlig" 0, "clig" 0;
  -o-font-feature-settings:"liga" 0, "dlig" 0, "hlig" 0, "clig" 0;
  -webkit-font-feature-settings:"liga" 0, "dlig" 0, "hlig" 0, "clig" 0;
  font-feature-settings:"liga" 0, "dlig" 0, "hlig" 0, "clig" 0;
}

@mixin column-count($count) {
  -webkit-column-count: $count;
     -moz-column-count: $count;
          column-count: $count;
}

@mixin column-gap($gap) {
  -webkit-column-gap: $gap;
     -moz-column-gap: $gap;
          column-gap: $gap;
}

@mixin break-inside($setting) {
  -webkit-column-break-inside: $setting;
            page-break-inside: $setting;
                 break-inside: $setting;
}

@mixin link-underline($fg, $bg, $hover) {
  text-decoration: underline;
  text-decoration-color: $fg;
  text-decoration-thickness: .1111rem;
  text-underline-offset: .15rem;

  &:hover {
    text-decoration-color: $hover;
  }
}

@mixin disable-link-underline { text-decoration: none; }
