/* ==========================================================================
   SASS variables
   ========================================================================== */
/* MQ BREAKPOINTS */
$bp-small: 30em;
$bp-medium: 45em;
$bp-large: 60em;
$bp-xxlarge: 70em;
/* FONTS */
$body-font: Alegreya, serif;
$display-font: Infini, Optima, sans-serif;
/* COLOURS */
$text-dark: rgb(51, 73, 76);
$text-light: rgb(153, 153, 153);
$link: rgb(31, 108, 180);
$link-hover: rgb(255, 65, 54);
$link-underline: rgb(180,227,234);
$bg-light: rgb(250,252,249);
$bg-dark: $text-dark;
$light-outline: rgb(204, 204, 204);
$chart-color: rgb(133, 212, 242);
$chart-hover: rgb(239, 239, 239);
// $chart-color-light: #B8E4F5;
/* MENU STYLING */
$menu-text: $bg-light;
$menu-highlight: $text-dark;
$menu-button: $text-dark;
/* ==========================================================================
   SASS mixins
   ========================================================================== */
@mixin smallbp {
  @media only screen and (min-width: #{$bp-small}) {
    @content;
  }
}
@mixin mediumbp {
  @media only screen and (min-width: #{$bp-medium}) {
    @content;
  }
}
@mixin largebp {
  @media only screen and (min-width: #{$bp-large}) {
    @content;
  }
}
@mixin xxlargebp {
  @media only screen and (min-width: #{$bp-xxlarge}) {
    @content;
  }
}
@mixin hyphens($setting) {
  -webkit-hyphens: $setting;
  -moz-hyphens: $setting;
  -ms-hyphens: $setting;
  hyphens: $setting;
}

@mixin liningnums {
  -webkit-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings:"lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
