---
title: Music
digest: Selected recent works
tags:
  - archive
  - music
layout: page
---
{% for post in site.categories.music %}
<article id="{{ post.title | slugify }}" class="hentry{% if forloop.first %} first{% endif %}">
  <h3 class="entry-title">
    <a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
    <time class="published" datetime="{{ post.date | date: '%Y-%m-%d'}}">({{ post.date | date: '%Y' }})</time>
  </h3>
  <p class="entry-meta">{{ post.instrumentation }} | {{ post.duration }}</p>
</article>
{% endfor %}
