---
title: Music
digest: Selected recent works
show_digest: true
tags:
  - archive
  - music
layout: workslist
size: all
filter: selected
---
<ul class="worklist">{% for post in site.categories.music %}{% if post.selected == true and post.withdrawn != true %}
  <li id="{{ post.title | slugify }}" class="work {{ post.size }}">
    <em class="work-title">
      <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
    </em>
    <span class="work-meta">
      {{ post.instrumentation }}
    </span>
    <time class="published" datetime="{{ post.date | date: '%Y-%m-%d'}}">
      ({{ post.date | date: '%Y' }})
    </time>
  </li>{% endif %}{% endfor %}
</ul>
