---
layout: default
---
{% capture cache %}{% assign event = page %}
{% assign now = site.time | date: '%Y%m%d' %}
{% assign eventdate = event.date | append: '' %}
{% if eventdate.size == 10 %}
    {% assign then = eventdate | append: ' 20:00' | date: '%Y%m%d' %}
  {% else %}
    {% assign then = eventdate | date: '%Y%m%d' %}
{% endif %}
{% if event.enddate %}
  {% assign enddate = event.enddate | append: '' %}
{% endif %}{% endcapture %}{% assign cache = nil %}
<div class="primary">
  <h2>{% if event.performer.url %}
    <a href="event.performer.url">{{ event.performer.name }}</a>{% else %}
    {{ event.performer.name }}{% endif %}
  </h2>
  <p class="entry-meta"><time datetime="{{ event.date | date_to_xmlschema }}">{{ event.date | date: "%A, %-d %B %Y, %-I" }}{% assign eventminutes = event.date | date: '%M' %}{% if eventminutes == '00' %}{{ event.date | date: '%p' | downcase }}{% else %}{{ event.date | date: ':%M%p' | downcase }}{% endif %}</time</p>
  {% if event.facebook %}
  <a href="{{ event.facebook }}">Facebook</a>
  {% endif %}
  {% if event.venue %}
    <h4>Where</h4>
    <p class="venue">
      {% if event.venue.url %}
        <span class="name"><a href="{{ event.venue.url }}">{{ event.venue.name }}</a></span>
      {% else %}
        <span class="name">{{ event.venue.name }}</dt>
      {% endif %}
      {% if event.venue.address %}
        <br /><span class="address">{{ event.venue.address }}</span>
      {% endif %}
    </p>
    {% if event.venue.map_address_only %}
      {% assign place = event.venue.address | cgi_escape %}
    {% else %}
      {% assign place = event.venue.name | append: ', ' | append: event.venue.address | cgi_escape %}
    {% endif %}
    <iframe
      width="538"
      height="350"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key={{ site.google.maps_api }}
      &q={{ place }}
      &attribution_source={{ site.name | cgi_escape }}" allowfullscreen>
    </iframe>
  {% endif %}
  {% include events_json-ld.html %}
</div>
{% if page.featured_image %}
<div class="secondary">{% if page.featured_image_caption %}
  <figure>{% endif %}{% if page.featured_image_alt %}{% assign alttext = page.featured_image_alt %}{% else %}{% assign alttext = page.title | append: ' featured image' %}{% endif %}
    {% picture sidebar {{ page.featured_image}} alt="{{ alttext }}" class="picture sidebar featured-image" %}{% if page.featured_image_caption %}
    <figcaption>{{ page.featured_image_caption | markdownify }}</figcaption>
  </figure>{% endif %}
</div>
{% endif %}
