---
layout: default
---
{% capture cache %}{% assign event = page %}
{% assign now = site.time | date: '%Y%m%d' %}
{% assign eventdate = event.date | append: '' %}
{% if eventdate.size == 10 %}
    {% assign then = eventdate | append: ' 20:00' | date: '%Y%m%d' %}
  {% else %}
    {% assign then = eventdate | date: '%Y%m%d' %}
{% endif %}
{% if event.enddate %}
  {% assign enddate = event.enddate | append: '' %}
{% endif %}{% endcapture %}{% assign cache = nil %}
<div class="primary">
  <h2>{% if event.performer.url %}
    <a href="event.performer.url">{{ event.performer.name }}</a>{% else %}
    {{ event.performer.name }}{% endif %}
  </h2>
  <p class="entry-meta">
    <time datetime="{{ event.date | date_to_xmlschema }}">
      {{ event.date | date: "%A, %-d %B %Y, %-I" }}{% assign eventminutes = event.date | date: '%M' %}{% if eventminutes == '00' %}{{ event.date | date: '%p' | downcase }}{% else %}{{ event.date | date: ':%M%p' | downcase }}{% endif %}
    </time>
  </p>
  {% if event.programme %}
    <h4>Programme</h4>
    {% assign composers = '' %}
    {% assign works = '' %}
    {% for item in event.programme %}
      {% if item.composer %}
        {% assign composers = composers | append: item.composer %}
        {% unless forloop.last %}
          {% assign composers = composers | append: ',' %}
        {% endunless %}
      {% endif %}
      {% if item.work %}
        {% assign works = works | append: item.work %}
        {% unless forloop.last %}
          {% assign works = works | append: ',,' %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    {% assign composers = composers | split: ',' %}
    {% assign works = works | split: ',,' %}
    {% if composers.size == works.size %}
      <ul class="programme">
        {% for composer in composers %}
        <li class="item">
          <strong class="composer">{{ composer }}</strong><span class="separator"> — </span>
          <em class="work">
            {% if event.works contains works[forloop.index0] %}
            {% assign testwork = works[forloop.index0] %}
              {% assign workurl = nil %}
              {% for work in site.categories.music %}
                {% if work.title == testwork %}
                  {% assign workurl = work.url %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% if workurl %}
                <a href="{{ workurl }}">{{ testwork }}</a>
              {% else %}
                {{ testwork }}
              {% endif %}
            {% else %}
              {{ works[forloop.index0] }}
            {% endif %}
          </em>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Works by {{ composers | array_to_sentence_string }}.</p>
    {% endif %}
  {% endif %}
  {% if event.venue %}
    <h4>Where</h4>
    <p class="venue">
      {% if event.venue.url %}
        <span class="name"><a href="{{ event.venue.url }}">{{ event.venue.name }}</a></span>
      {% else %}
        <span class="name">{{ event.venue.name }}</dt>
      {% endif %}
      {% if event.venue.address %}
        <br /><span class="address">{{ event.venue.address }}</span>
      {% endif %}
    </p>
    {% if event.venue.map_address_only %}
      {% assign place = event.venue.address | cgi_escape %}
    {% else %}
      {% assign place = event.venue.name | append: ', ' | append: event.venue.address | cgi_escape %}
    {% endif %}
    <iframe
      width="538"
      height="350"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key={{ site.google.maps_api }}
      &q={{ place }}
      &attribution_source={{ site.name | cgi_escape }}" allowfullscreen>
    </iframe>
  {% endif %}
  {% include events_json-ld.html %}
</div>
{% if event.featured_image or event.facebook %}
<div class="secondary">
  {% if event.facebook %}
  <a href="{{ event.facebook }}" class="facebook-link"><span class="icon facebook"></span> See event on Facebook</a>
  {% endif %}
  {% if event.featured_image %}
    {% if event.featured_image_alt %}
      {% assign alttext = event.featured_image_alt %}
      {% else %}
      {% assign alttext = event.title | append: ' featured image' %}
    {% endif %}
    {% if event.featured_image_caption %}
      <figure>
        {% picture sidebar {{ event.featured_image}} alt="{{ alttext }}" class="picture sidebar featured-image" %}
        <figcaption>
          {{ event.featured_image_caption | markdownify }}
        </figcaption>
      </figure>
    {% else %}
      {% picture sidebar {{ event.featured_image}} alt="{{ alttext }}" class="picture sidebar featured-image" %}
    {% endif %}
  {% endif %}
</div>
{% endif %}
