---
layout: default
---
<h2>{{ page.title }}</h2>
{% if page.digest %}<p><em>{{ page.digest }}</em></p>{% endif %}

{{ content }}

{% if site.data.events %}
<ul class="datalist">
  {% for event in site.data.events %}
    {% if event.works contains page.title %}
      <li>
        <h3><a href="{{ event.groupurl }}">{{ event.group }}</a></h3>
        <p>
          {{ event.date | date_to_string }} | <a href="{{ event.venueurl }}">{{ event.venue }}</a>
        </p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
