---
layout: default
---
<h2>{{ page.title }}</h2>
{% if page.digest %}<p><em>{{ page.digest }}</em></p>{% endif %}

{{ content }}

{% if site.data.events %}
  {% assign events = site.data.events | sort: 'date' %}

  {% assign workhasperformances = null %}
  {% for event in events %}
    {% if workhasperformances %}
      {% break %}
    {% endif %}
    {% if event.works contains page.title %}
      {% assign workhasperformances = 1 %}
    {% endif %}
  {% endfor %}

  {% if workhasperformances %}
    <ul class="datalist">
      {% for event in events reversed %}
        {% if event.works contains page.title %}
          <li>
            <h3><a href="{{ event.groupurl }}">{{ event.group }}</a></h3>
            <p>
              {{ event.date | date_to_string }} | <a href="{{ event.venueurl }}">{{ event.venue }}</a>
            </p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
