---
layout: default
---
<article id="{{ page.title | slugify }}" class="hentry primary">
  <header>
    <h2 class="entry-title">{{ page.title }}</h2>{% if page.subtitle %}
    <h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}
  </header>
  <div class="entry-content hyphenate">
    {{ content }}
  </div>{% if page.publication and page.article %}
  {% include text-json-ld.html %}{% elsif page.category == 'text' %}{% include _article-json-ld.html %}{% endif %}
</article>
{% if page.featured_image %}
<aside class="secondary">{% if page.featured_image_caption %}
  <figure>{% endif %}{% if page.featured_image_alt %}{% assign alttext = page.featured_image_alt %}{% else %}{% assign alttext = page.title | append: ' featured image' %}{% endif %}
    {% picture sidebar {{ page.featured_image}} alt="{{ alttext }}" %}{% if page.featured_image_caption %}
    <figcaption>{{ page.featured_image_caption | markdownify }}</figcaption>
  </figure>{% endif %}
</aside>
{% endif %}
