---
layout: default
---
<div class="primary">
  <h2>{{ page.title }}</h2>
  {% if page.subtitle %}
  <h3>{{ page.subtitle }}</h3>
  {% endif %}
  <p class="meta">{{ page.date | date: '%-d %B %Y' }}</p>
  <div class="post">
    {{ content }}
  </div>
</div>
{% if page.featured_image %}
<div class="secondary">{% if page.featured_image_alt %}{% assign alttext = page.featured_image_alt %}{% else %}{% assign alttext = page.title | append: ' featured image' %}{% endif %}
  {% picture sidebar {{ page.featured_image}} alt="{{ alttext }}" class="picture sidebar featured-image" %}
</div>
{% endif %}
