---
layout: default
---
<article id="{{ page.title | slugify }}" class="hentry primary">
  <header class="single-post-header">{% unless page.title == 'No Content Found' %}
    <h2 class="entry-title">{{ page.title }}</h2>{% endunless %}{% if page.subtitle %}
    <h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}{% if page.digest and page.category != 'text' %}
    <p><em>{{ page.digest }}</em></p>{% endif %}
  </header>
  <div class="entry-content hyphenate">
    {{ content }}
  </div>{% if page.comments == true %}
  {% include post_disqus.html %}{% endif %}
  <footer class="entry-meta">
    <p>Posted on <strong><time class="published" datetime="{{ page.date | date: '%Y-%m-%d'}}">{{ page.date | date: '%A, %-d %B %Y' }}</time></strong></p>{% if page.wordpress_id %}
    <p>This post first appeared on an older version of this site: <a href="https://v2.chrisswithinbank.net{{ page.url }}" rel="nofollow">v2.chrisswithinbank.net{{ page.url }}</a></p>{% endif %}
    {% include _article-json-ld.html %}
  </footer>{% if page.next_in_category or page.previous_in_category %}
  <div class="pagination clearfix post-nav">{% if page.next_in_category %}
    <a href="{{ page.next_in_category.url }}" class="arrow older" rel="prev"><span>{% if page.next_in_category.title == 'No Content Found' %}{{ page.next_in_category.excerpt | strip_html | truncate: 30, '…' }}{% else %}{{ page.next_in_category.title }}{% endif %}</span></a>{% endif %}
    <span class="separator">—</span>{% if page.previous_in_category %}
    <a href="{{ page.previous_in_category.url }}" class="arrow newer" rel="next"><span>{% if page.previous_in_category.title == 'No Content Found' %}{{ page.previous_in_category.excerpt | strip_html | truncate: 30, '…' }}{% else %}{{ page.previous_in_category.title }}{% endif %}</span></a>{% endif %}
  </div>{% endif %}
</article>
<aside class="secondary">{% if page.featured_image %}{% if page.featured_image_caption %}
  <figure>{% endif %}{% if page.featured_image_alt %}{% assign alttext = page.featured_image_alt %}{% else %}{% assign alttext = page.title | append: ' featured image' %}{% endif %}
    {% picture sidebar {{ page.featured_image}} alt="{{ alttext }}" %}{% if page.featured_image_caption %}
    <figcaption>{{ page.featured_image_caption | markdownify }}</figcaption>
  </figure>{% endif %}{% endif %}
  {% if page.featured_embed %}
  <section class="featured_embed">
    {{ page.featured_embed }}
  </section>
  {% endif %}
  {% assign titlestring = page.title %}{% if page.subtitle %}
  {% assign titlestring = titlestring | append: ': ' | append: page.subtitle %}{% endif %}
  {% assign titlestring = titlestring | strip_html | cgi_escape %}
  <a href="https://www.facebook.com/dialog/share?app_id={{ site.facebook.app_id }}&display=page&href={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}&title={{ titlestring }}" class="big-link"><span class="icon facebook"></span> Share</a>
  <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ titlestring }}&via={{ site.author.twitter }}" class="big-link"><span class="icon twitter"></span> Tweet</a>
</aside>
