---
layout: default
---
<article id="{{ page.title | slugify }}" class="hentry primary">
  <header>
    <h2 class="entry-title">{{ page.title }}</h2>{% if page.subtitle %}
    <h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}{% if page.digest and page.category != 'text' %}
    <p><em>{{ page.digest }}</em></p>{% endif %}
  </header>
  <div class="entry-content hyphenate">
    {{ content }}
  </div>
  <footer class="entry-meta">
    <p>Posted on <strong><time class="published" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ page.date | date: '%A, %-d %B %Y' }}</time></strong></p>{% if page.wordpress_id %}
    <p>This post first appeared on an older version of this site: <a href="http://v2.chrisswithinbank.net{{ page.url }}" rel="nofollow">v2.chrisswithinbank.net{{ page.url }}</a></p>{% endif %}
    {% include _article-json-ld.html %}
  </footer>
  <div class="pagination clearfix post-nav">{% if page.next_in_category %}
    <a href="{{ page.next_in_category.url }}" class="arrow older" rel="prev"><span>{{ page.next_in_category.title }}</span></a>{% endif %}
    <span class="separator">—</span>{% if page.previous_in_category %}
    <a href="{{ page.previous_in_category.url }}" class="arrow newer" rel="next"><span>{{ page.previous_in_category.title }}</span></a>{% endif %}
  </div>
</article>{% if page.featured_image %}
<aside class="secondary">{% if page.featured_image_caption %}
  <figure>{% endif %}{% if page.featured_image_alt %}{% assign alttext = page.featured_image_alt %}{% else %}{% assign alttext = page.title | append: ' featured image' %}{% endif %}
    {% picture sidebar {{ page.featured_image}} alt="{{ alttext }}" %}{% if page.featured_image_caption %}
    <figcaption>{{ page.featured_image_caption | markdownify }}</figcaption>
  </figure>{% endif %}
</aside>
{% endif %}
