---
layout: page
---
<ul class="worklist donthyphenate">{% for post in site.categories.music %}{% capture cache %}
  {% assign test = false %}
  {% if post.size == page.size or page.size == 'all' %}
    {% unless post.withdrawn == true %}
      {% if page.filter == 'selected' %}
        {% if post.selected == true %}
          {% assign test = true %}
        {% endif %}
        {% else %}
        {% assign test = true %}
      {% endif %}
    {% endunless %}
  {% endif %}{% endcapture %}{% assign cache = nil %}{% if test == true %}
  <li id="{{ post.title | slugify }}" class="work">
    <h3 class="work-title">
      <a href="{{ site.url }}{{ post.url }}" rel="bookmark" class="{{ post.size }}">{{ post.title }}</a>
    </h3>
    <p class="work-meta">
      {{ post.instrumentation }} (<time class="published" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: '%Y' }}</time>)
    </p>
  </li>{% endif %}{% endfor %}
</ul>

<div id="instrumentation-nav" class="clearfix">{% if page.title == 'All Works' %}
  <a href="/works/" class="button">See Recent</a>{% else %}
  <a href="/works/all/" class="button">See All</a>{% endif %}
  <a href="/works/solo/" class="solo-half-button">Solo</a>
  <a href="/works/chamber/" class="chamber-half-button">Chamber</a>
  <a href="/works/ensemble/" class="ensemble-half-button">Ensemble</a>
  <a href="/works/tape/" class="tape-half-button">Tape</a>
</div>
