---
layout: page
---
<ul class="worklist donthyphenate">{% for post in site.categories.music %}{% capture cache %}
  {% assign test = false %}
  {% if post.size == page.size or page.size == 'all' %}
    {% unless post.withdrawn == true %}
      {% if page.filter == 'selected' %}
        {% if post.selected == true %}
          {% assign test = true %}
        {% endif %}
        {% else %}
        {% assign test = true %}
      {% endif %}
    {% endunless %}
  {% endif %}
  {% case post.size %}
    {% when 'tape' %}
      {% assign colorcode = 'cfb7ed' %}
    {% when 'solo' %}
      {% assign colorcode = 'edb7b7' %}
    {% when 'ensemble' %}
      {% assign colorcode = 'ede7b7' %}
    {% else %}
      {% assign colorcode = 'b5e4eb' %}
  {% endcase %}{% endcapture %}{% assign cache = nil %}{% if test == true %}
  <li id="{{ post.title | slugify }}" class="work">
    <h3 class="work-title">
      <a href="{{ post.url }}" rel="bookmark" class="{{ post.size }}">{{ post.title }}</a>
    </h3>
    <p class="work-meta">
      {{ post.instrumentation }} (<time class="published" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: '%Y' }}</time>){% if post.soundcloud_id %}
      <iframe width="20" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ post.soundcloud_id }}&amp;color=%23{{ colorcode }}&amp;inverse=false&amp;auto_play=false&amp;show_user=false"></iframe>{% endif %}
    </p>
  </li>{% endif %}{% endfor %}
</ul>

<div id="instrumentation-nav" class="clearfix">{% if page.title == 'All Works' %}
  <a href="/works/" class="button">See Recent</a>{% else %}
  <a href="/works/all/" class="button">See All</a>{% endif %}
  <a href="/works/solo/" class="solo-half-button">Solo</a>
  <a href="/works/chamber/" class="chamber-half-button">Chamber</a>
  <a href="/works/ensemble/" class="ensemble-half-button">Ensemble</a>
  <a href="/works/tape/" class="tape-half-button">Tape</a>
</div>
