---
layout: default
title: Diary
digest: Upcoming events
---
  <h2>{{ page.title }}</h2>
  {% if page.digest %}<p><em>{{ page.digest }}</em></p>{% endif %}

  <ul class="datalist">
    {% for event in site.events %}
      <li>
        <h3>
            {% if event.works.size == 1 %}
              {% assign headline = event.works[0].name %}
            {% else %}
              {% assign headline = event.title %}
            {% endif %}
          <a href="{{ event.url }}" title="{{ headline | strip_html }}">{{ headline }}</a>
        </h3>
        <p>{{ event.date | date: "%-d %B %Y, %k:%M" }}</p>
        {% if event.performer %}
          <p class="performer">
            {% if event.performer.url %}
              <a href="{{ event.performer.url }}">{{ event.performer.name }}</a>
            {% else %}
              {{ event.performer.name }}
            {% endif %}
          </p>
        {% endif %}
      </li>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "MusicEvent",
          "name": "{{ headline | strip_html }}",
          "url": "{{ event.url }}",
          "startDate": "{{ event.date | date_to_xmlschema }}",
          {% if event.endDate %}"endDate": "{{ event.endDate | date_to_xmlschema }}",{% endif %}
          {% if event.performer %}"performer": {
            "@type": "{{ event.performertype }}",
            "name": "{{ event.performer.name }}",
            "sameAs": "{{ event.performer.url }}"
          },{% endif %}
          {% if event.works %}{% for work in event.works %}
          "workPerformed": {
            "@type": "CreativeWork",
            {% for post in site.categories.music %}{% if post.title == work.name %}"sameAs": "{{ post.url }}",{% endif %}{% endfor %}
            "name": "{{ work.name }}",
            "author": "{% if work.author %}{{ work.author }}{% else %}http://www.chrisswithinbank.net/{% endif %}"
          },
          {% endfor %}{% endif %}
          "location": {
            "@type": "{{ event.locationtype }}",
            "name": "{{ event.venue.name }}",
            "address": "{{ event.venue.address }}",
            "sameAs": "{{ event.venue.url }}"
          }
        }
      </script>
    {% endfor %}
  </ul>
