---
layout: default
title: Diary
digest: Upcoming events
---
  <h2>{{ page.title }}</h2>
  {% if page.digest %}<p><em>{{ page.digest }}</em></p>{% endif %}

  <ul class="datalist">

    {% for event in site.events %}
        <li>
          <h3>
            <a href="{{ event.url }}" title="{{ event.title | strip_html }}">{{ event.title }}</a>
          </h3>
          <p>{{ event.date | date: "%-d %B %Y, %k:%M" }}</p>
        </li>
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "MusicEvent",
            "name": "{{ event.title | strip_html }}",
            "url": "{{ event.url }}",
            "startDate": "{{ event.date | date_to_xmlschema }}",
            {% if event.endDate %}"endDate": "{{ event.endDate | date_to_xmlschema }}",{% endif %}
            {% if event.performer %}"performer": {
              "@type": "{{ event.performertype }}",
              "name": "{{ event.performer.name }}",
              "sameAs": "{{ event.performer.url }}"
            },{% endif %}
            {% if event.works %}{% for work in event.works %}
            "workPerformed": {
              "@type": "CreativeWork",
              {% for post in site.categories.music %}{% if post.title == work.name %}"sameAs": "{{ post.url }}",{% endif %}{% endfor %}
              "name": "{{ work.name }}",
              "author": "{% if work.author %}{{ work.author }}{% else %}http://www.chrisswithinbank.net/{% endif %}"
            },
            {% endfor %}{% endif %}
            "location": {
              "@type": "{{ event.locationtype }}",
              "name": "{{ event.venue.name }}",
              "address": "{{ event.venue.address }}",
              "sameAs": "{{ event.venue.url }}"
            }
          }
        </script>
    {% endfor %}
  </ul>
