---
layout: default
title: Texts
digest: Long-form articles and papers
---
<h2>{{ page.title }}</h2>
{% if page.digest %}<p><em>{{ page.digest }}</em></p>{% endif %}

<ul class="datalist">

  {% for post in site.posts %}
    {% if post.categories contains 'text' %}
      <li>
        <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        {% if post.subheader %}
        <h4>{{ post.subheader }}</h4>
        {% endif %}
        <p class="meta">{{ post.date | date_to_string }}</p>
        {% if post.digest %}
        <p>{{ post.digest }}</p>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
