---
title: Text
digest: Long-form articles, some of which were first published elsewhere
tags:
  - archive
  - text
layout: default
---
<div class="primary hfeed">
  <h2>{{ page.title }}</h2>
  {% if page.digest %}<p><em>{{ page.digest }}</em></p>{% endif %}
  {% for post in site.categories.text %}
    <article id="{{ post.title | slugify }}" class="hentry">
      <h3 class="entry-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h3>{% if post.subtitle %}
      <h4>{{ post.subtitle }}</h4>{% endif %}
      <p class="entry-meta"><time class="published" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: "%-d %B %Y" }}</time> | {% include _reading-time.html type="post" %}</p>{% if post.digest %}
      <p class="entry-summary">{{ post.digest }}</p>{% endif %}
    </article>{% endfor %}
</div>
